--- 
http_interactions: 
- request: 
    method: get
    uri: http://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key&method=flickr.photos.licenses.getInfo
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="", oauth_nonce="7184a992d730edcb93569f134a733a04", oauth_signature="MmojtJI5wFmA1CS%2F2yBL1%2FjeZho%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1337013893", oauth_token="", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - text/plain; charset=utf-8
    body: 
      encoding: ASCII-8BIT
      string: "{\"stat\":\"fail\", \"code\":100, \"message\":\"Invalid API Key (Key has invalid format)\"}"
  recorded_at: Mon, 14 May 2012 16:44:54 GMT
- request: 
    method: post
    uri: http://api.flickr.com/services/upload
    body: 
      encoding: ASCII-8BIT
      string: "#<Faraday::CompositeReadIO:0x007ffa68f46400>"
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="", oauth_nonce="ee4bb6862b61b5ca364a928e2301995e", oauth_signature="zJrYouawLgCDmQBLFwvV7DEhnVg%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1337013894", oauth_token="", oauth_version="1.0"
      Content-Type: 
      - multipart/form-data;boundary=-----------RubyMultipartPost
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - text/xml; charset=utf-8
    body: 
      encoding: US-ASCII
      string: |
        <?xml version="1.0" encoding="utf-8" ?>
        <rsp stat="fail">
        	<err code="100" msg="Invalid API Key (Key has invalid format)" />
        </rsp>

  recorded_at: Mon, 14 May 2012 16:44:55 GMT
recorded_with: VCR 2.1.1
