--- 
http_interactions: 
- request: 
    method: get
    uri: http://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=API_KEY&method=flickr.photos.search&user_id=67131352%40N04&extras=license%2Cdate_upload%2Cdate_taken%2Cowner_name%2Cicon_server%2Coriginal_format%2Clast_update%2Cgeo%2Ctags%2Cmachine_tags%2Co_dims%2Cviews%2Cmedia%2Cpath_alias%2Curl_sq%2Curl_q%2Curl_t%2Curl_s%2Curl_n%2Curl_m%2Curl_z%2Curl_c%2Curl_l%2Curl_o%2Cmedia
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="API_KEY", oauth_nonce="2e82ed54fff2f99c15cad815d8f02d08", oauth_signature="eFrqeV5nbXYLhKU5zMS7Zd9rx5c%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1337013918", oauth_token="", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json
    body: 
      encoding: ASCII-8BIT
      string: "{\"photos\":{\"page\":1, \"pages\":1, \"perpage\":100, \"total\":\"98\", \"photo\":[{\"id\":\"7093101501\", \"owner\":\"67131352@N04\", \"secret\":\"9337f28800\", \"server\":\"7090\", \"farm\":8, \"title\":\"IMG_0917\", \"ispublic\":1, \"isfriend\":0, \"isfamily\":0, \"license\":\"0\", \"dateupload\":\"1334834742\", \"datetaken\":\"2011-03-27 14:21:21\", \"datetakengranularity\":\"0\", \"ownername\":\"Janko Marohni\\u0107\", \"iconserver\":\"5464\", \"iconfarm\":6, \"lastupdate\":\"1334834749\", \"latitude\":0, \"longitude\":0, \"accuracy\":0, \"context\":0, \"tags\":\"\", \"machine_tags\":\"\", \"views\":\"0\", \"media\":\"photo\", \"media_status\":\"ready\", \"pathalias\":null, \"url_sq\":\"http:\\/\\/farm8.staticflickr.com\\/7090\\/7093101501_9337f28800_s.jpg\", \"height_sq\":75, \"width_sq\":75, \"url_q\":\"http:\\/\\/farm8.staticflickr.com\\/7090\\/7093101501_9337f28800_q.jpg\", \"height_q\":\"150\", \"width_q\":\"150\", \"url_t\":\"http:\\/\\/farm8.staticflickr.com\\/7090\\/7093101501_9337f28800_t.jpg\", \"height_t\":\"75\", \"width_t\":\"100\", \"url_s\":\"http:\\/\\/farm8.staticflickr.com\\/7090\\/7093101501_9337f28800_m.jpg\", \"height_s\":\"180\", \"width_s\":\"240\", \"url_n\":\"http:\\/\\/farm8.staticflickr.com\\/7090\\/7093101501_9337f28800_n.jpg\", \"height_n\":240, \"width_n\":\"320\", \"url_m\":\"http:\\/\\/farm8.staticflickr.com\\/7090\\/7093101501_9337f28800.jpg\", \"height_m\":\"375\", \"width_m\":\"500\", \"url_z\":\"http:\\/\\/farm8.staticflickr.com\\/7090\\/7093101501_9337f28800_z.jpg\", \"height_z\":\"480\", \"width_z\":\"640\", \"url_c\":\"http:\\/\\/farm8.staticflickr.com\\/7090\\/7093101501_9337f28800_c.jpg\", \"height_c\":600, \"width_c\":\"800\", \"url_l\":\"http:\\/\\/farm8.staticflickr.com\\/7090\\/7093101501_9337f28800_b.jpg\", \"height_l\":\"768\", \"width_l\":\"1024\"}, {\"id\":\"7093100793\", \"owner\":\"67131352@N04\", \"secret\":\"358fb7bc5c\", \"server\":\"7091\", \"farm\":8, \"title\":\"IMG_0916\", \"ispublic\":1, \"isfriend\":0, \"isfamily\":0, \"license\":\"0\", \"dateupload\":\"1334834714\", \"datetaken\":\"2011-03-27 14:21:13\", \"datetakengranularity\":\"0\", \"ownername\":\"Janko Marohni\\u0107\", \"iconserver\":\"5464\", \"iconfarm\":6, \"lastupdate\":\"1334834723\", \"latitude\":0, \"longitude\":0, \"accuracy\":0, \"context\":0, \"tags\"[...]
