--- 
http_interactions: 
- request: 
    method: post
    uri: http://api.flickr.com/services/upload
    body: 
      encoding: ASCII-8BIT
      string: "#<Faraday::CompositeReadIO:0x007f8f93e40fa0>"
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="API_KEY", oauth_nonce="00f4918182865bd6c27409c6d79feb38", oauth_signature="%2Fbi%2BeNjXw4iMCJukL6%2FVKGz9Y5g%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1336940537", oauth_token="ACCESS_TOKEN", oauth_version="1.0"
      Content-Type: 
      - multipart/form-data;boundary=-----------RubyMultipartPost
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - text/xml; charset=utf-8
    body: 
      encoding: US-ASCII
      string: |
        <?xml version="1.0" encoding="utf-8" ?>
        <rsp stat="ok">
        <ticketid>67099213-72157629712620296</ticketid>
        </rsp>

  recorded_at: Sun, 13 May 2012 20:22:18 GMT
- request: 
    method: get
    uri: http://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=API_KEY&method=flickr.photos.upload.checkTickets&tickets=67099213-72157629712620296
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="API_KEY", oauth_nonce="d09d8e4a1cc3362482fd5ec378b2f451", oauth_signature="EM8mUzqa9lOlvivAClLYpqFSju0%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1336940538", oauth_token="ACCESS_TOKEN", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json
    body: 
      encoding: ASCII-8BIT
      string: "{\"uploader\":{\"ticket\":[{\"id\":\"67099213-72157629712620296\", \"complete\":0}]}, \"stat\":\"ok\"}"
  recorded_at: Sun, 13 May 2012 20:22:19 GMT
[...]
- request: 
    method: get
    uri: http://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=API_KEY&method=flickr.photos.upload.checkTickets&tickets=67099213-72157629712620296
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="API_KEY", oauth_nonce="b22657a9cce491039b837d25b48be023", oauth_signature="vRFSDFFcddwWp3zpsvowzyj61Cw%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1336940541", oauth_token="ACCESS_TOKEN", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json
    body: 
      encoding: ASCII-8BIT
      string: "{\"uploader\":{\"ticket\":[{\"id\":\"67099213-72157629712620296\", \"complete\":1, \"photoid\":\"7190986070\", \"imported\":\"1336940538\"}]}, \"stat\":\"ok\"}"
  recorded_at: Sun, 13 May 2012 20:22:21 GMT
- request: 
    method: get
    uri: http://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=API_KEY&method=flickr.photos.getInfo&photo_id=7190986070
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="API_KEY", oauth_nonce="b3a6ae7e1e5c21a05aae8b8ca65b9dbc", oauth_signature="HkPvRL57DRx78SZ6UmRRzJyGLI4%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1336940541", oauth_token="", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json
    body: 
      encoding: ASCII-8BIT
      string: "{\"photo\":{\"id\":\"7190986070\", \"secret\":\"ca9b0ee41f\", \"server\":\"8018\", \"farm\":9, \"dateuploaded\":\"1336940538\", \"isfavorite\":0, \"license\":\"0\", \"safety_level\":\"0\", \"rotation\":0, \"owner\":{\"nsid\":\"67131352@N04\", \"username\":\"Janko Marohni\\u0107\", \"realname\":\"Janko Marohni\\u0107\", \"location\":\"Zagreb, Croatia\", \"iconserver\":\"5464\", \"iconfarm\":6}, \"title\":{\"_content\":\"photo\"}, \"description\":{\"_content\":\"\"}, \"visibility\":{\"ispublic\":1, \"isfriend\":0, \"isfamily\":0}, \"dates\":{\"posted\":\"1336940538\", \"taken\":\"2012-05-13 22:22:18\", \"takengranularity\":\"0\", \"lastupdate\":\"1336940541\"}, \"views\":\"0\", \"editability\":{\"cancomment\":0, \"canaddmeta\":0}, \"publiceditability\":{\"cancomment\":1, \"canaddmeta\":0}, \"usage\":{\"candownload\":1, \"canblog\":0, \"canprint\":0, \"canshare\":0}, \"comments\":{\"_content\":\"0\"}, \"notes\":{\"note\":[]}, \"people\":{\"haspeople\":0}, \"tags\":{\"tag\":[]}, \"urls\":{\"url\":[{\"type\":\"photopage\", \"_content\":\"http:\\/\\/www.flickr.com\\/photos\\/67131352@N04\\/7190986070\\/\"}]}, \"media\":\"photo\"}, \"stat\":\"ok\"}"
  recorded_at: Sun, 13 May 2012 20:22:22 GMT
- request: 
    method: post
    uri: http://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=API_KEY&method=flickr.photos.delete&photo_id=7190986070
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="API_KEY", oauth_nonce="6e847cdb0acfef199fe58b177b5555a4", oauth_signature="GKdsFD9TrZnjGEyp8qMMQSEAKdo%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1336940542", oauth_token="ACCESS_TOKEN", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"stat\":\"ok\"}"
  recorded_at: Sun, 13 May 2012 20:22:22 GMT
recorded_with: VCR 2.1.1
