--- 
http_interactions: 
- request: 
    method: post
    uri: http://api.flickr.com/services/upload
    body: 
      encoding: ASCII-8BIT
      string: "#<Faraday::CompositeReadIO:0x007fb6b4d663d0>"
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="API_KEY", oauth_nonce="ef079928025e944a985e5a8cc60ee83d", oauth_signature="Axxor4xStEbW3pbXzkxlgWAUZzs%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1337291989", oauth_token="ACCESS_TOKEN", oauth_version="1.0"
      Content-Type: 
      - multipart/form-data;boundary=-----------RubyMultipartPost
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - text/xml; charset=utf-8
    body: 
      encoding: US-ASCII
      string: |
        <?xml version="1.0" encoding="utf-8" ?>
        <rsp stat="ok">
        <ticketid>67099213-72157629776289980</ticketid>
        </rsp>

  recorded_at: Thu, 17 May 2012 21:59:51 GMT
- request: 
    method: get
    uri: http://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=API_KEY&method=flickr.photos.upload.checkTickets&tickets=67099213-72157629776289980
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="API_KEY", oauth_nonce="cc198d13f40ada44db572454f7329dab", oauth_signature="FVBKoMy%2BV%2F8rjruyXCtZ0%2FrkQM0%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1337291991", oauth_token="ACCESS_TOKEN", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json
    body: 
      encoding: ASCII-8BIT
      string: "{\"uploader\":{\"ticket\":[{\"id\":\"67099213-72157629776289980\", \"complete\":0}]}, \"stat\":\"ok\"}"
  recorded_at: Thu, 17 May 2012 21:59:51 GMT
[...]
- request: 
    method: get
    uri: http://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=API_KEY&method=flickr.photos.upload.checkTickets&tickets=67099213-72157629776289980
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="API_KEY", oauth_nonce="b02adcb6dd41be220a04cc84b2ee223a", oauth_signature="ZlZeQdWP16tZOTBuomoZTLj0EX8%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1337291993", oauth_token="ACCESS_TOKEN", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json
    body: 
      encoding: ASCII-8BIT
      string: "{\"uploader\":{\"ticket\":[{\"id\":\"67099213-72157629776289980\", \"complete\":1, \"photoid\":\"7218054900\", \"imported\":\"1337291991\"}]}, \"stat\":\"ok\"}"
  recorded_at: Thu, 17 May 2012 21:59:53 GMT
- request: 
    method: get
    uri: http://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=API_KEY&method=flickr.photos.getInfo&photo_id=7218054900
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="API_KEY", oauth_nonce="43e5e1f32cb311b2b2cf7c52d680f9f1", oauth_signature="TwD%2F546LG9MOdBxKzMdv4Ub6vF8%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1337291993", oauth_token="", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json
    body: 
      encoding: ASCII-8BIT
      string: "{\"photo\":{\"id\":\"7218054900\", \"secret\":\"aa17090254\", \"server\":\"7076\", \"farm\":8, \"dateuploaded\":\"1337291991\", \"isfavorite\":0, \"license\":\"0\", \"safety_level\":\"0\", \"rotation\":0, \"owner\":{\"nsid\":\"67131352@N04\", \"username\":\"Janko Marohni\\u0107\", \"realname\":\"Janko Marohni\\u0107\", \"location\":\"Zagreb, Croatia\", \"iconserver\":\"5464\", \"iconfarm\":6}, \"title\":{\"_content\":\"photo\"}, \"description\":{\"_content\":\"\"}, \"visibility\":{\"ispublic\":1, \"isfriend\":0, \"isfamily\":0}, \"dates\":{\"posted\":\"1337291991\", \"taken\":\"2012-05-17 23:59:51\", \"takengranularity\":\"0\", \"lastupdate\":\"1337291993\"}, \"views\":\"0\", \"editability\":{\"cancomment\":0, \"canaddmeta\":0}, \"publiceditability\":{\"cancomment\":1, \"canaddmeta\":0}, \"usage\":{\"candownload\":1, \"canblog\":0, \"canprint\":0, \"canshare\":0}, \"comments\":{\"_content\":\"0\"}, \"notes\":{\"note\":[]}, \"people\":{\"haspeople\":0}, \"tags\":{\"tag\":[]}, \"urls\":{\"url\":[{\"type\":\"photopage\", \"_content\":\"http:\\/\\/www.flickr.com\\/photos\\/67131352@N04\\/7218054900\\/\"}]}, \"media\":\"photo\"}, \"stat\":\"ok\"}"
  recorded_at: Thu, 17 May 2012 21:59:54 GMT
- request: 
    method: post
    uri: http://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=API_KEY&method=flickr.photos.delete&photo_id=7218054900
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="API_KEY", oauth_nonce="0c7123cf65939bb4bc3f52b3186a73d5", oauth_signature="5MixpNMO5vMH9Qs0tVf9p0MW%2FlQ%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1337291994", oauth_token="ACCESS_TOKEN", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"stat\":\"ok\"}"
  recorded_at: Thu, 17 May 2012 21:59:54 GMT
recorded_with: VCR 2.1.1
