--- 
http_interactions: 
- request: 
    method: post
    uri: http://api.flickr.com/services/upload
    body: 
      encoding: ASCII-8BIT
      string: "#<Faraday::CompositeReadIO:0x007fb6b4fd3488>"
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="API_KEY", oauth_nonce="364e5d59e878d70629f4ed7b518b2a60", oauth_signature="UtvUrpuOxvyXhSO0GmWCovzaMw0%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1337291994", oauth_token="ACCESS_TOKEN", oauth_version="1.0"
      Content-Type: 
      - multipart/form-data;boundary=-----------RubyMultipartPost
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - text/xml; charset=utf-8
    body: 
      encoding: US-ASCII
      string: |
        <?xml version="1.0" encoding="utf-8" ?>
        <rsp stat="ok">
        <photoid>7218055288</photoid>
        </rsp>

  recorded_at: Thu, 17 May 2012 21:59:59 GMT
- request: 
    method: post
    uri: http://api.flickr.com/services/replace
    body: 
      encoding: ASCII-8BIT
      string: "#<Faraday::CompositeReadIO:0x007fb6b4fd1b88>"
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="API_KEY", oauth_nonce="8be3111c06b0302b91df5efefced7acd", oauth_signature="%2F7ufiI5sBnVHI5vnIuKo6ZjDhgU%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1337291999", oauth_token="ACCESS_TOKEN", oauth_version="1.0"
      Content-Type: 
      - multipart/form-data;boundary=-----------RubyMultipartPost
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - text/xml; charset=utf-8
    body: 
      encoding: US-ASCII
      string: |
        <?xml version="1.0" encoding="utf-8" ?>
        <rsp stat="fail">
        	<err code="1" msg="Not a pro account" />
        </rsp>

  recorded_at: Thu, 17 May 2012 22:00:01 GMT
- request: 
    method: post
    uri: http://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=API_KEY&method=flickr.photos.delete&photo_id=7218055288
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="API_KEY", oauth_nonce="70afa76018e45cbe9fcb3eadf8952722", oauth_signature="zOZYNEMmdvBOk260CVsWx8E%2BLhQ%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1337292001", oauth_token="ACCESS_TOKEN", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"stat\":\"ok\"}"
  recorded_at: Thu, 17 May 2012 22:00:01 GMT
recorded_with: VCR 2.1.1
