--- 
http_interactions: 
- request: 
    method: post
    uri: http://api.flickr.com/services/upload
    body: 
      encoding: ASCII-8BIT
      string: "#<Faraday::CompositeReadIO:0x007f8f851d8eb0>"
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="API_KEY", oauth_nonce="7e552d52a8f60070ede4530520a69ee2", oauth_signature="UwLuiCF8YNT%2BJPTMqjyGBhfZ7HI%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1336940542", oauth_token="ACCESS_TOKEN", oauth_version="1.0"
      Content-Type: 
      - multipart/form-data;boundary=-----------RubyMultipartPost
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - text/xml; charset=utf-8
    body: 
      encoding: US-ASCII
      string: |
        <?xml version="1.0" encoding="utf-8" ?>
        <rsp stat="ok">
        <photoid>7190986806</photoid>
        </rsp>

  recorded_at: Sun, 13 May 2012 20:22:29 GMT
- request: 
    method: post
    uri: http://api.flickr.com/services/replace
    body: 
      encoding: ASCII-8BIT
      string: "#<Faraday::CompositeReadIO:0x007f8f851b0910>"
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="API_KEY", oauth_nonce="2d2e1d6f5127bfa8d4e91e600d2c9c06", oauth_signature="R%2BshDSgGSzxAqbSyue8kjQ9BxCQ%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1336940549", oauth_token="ACCESS_TOKEN", oauth_version="1.0"
      Content-Type: 
      - multipart/form-data;boundary=-----------RubyMultipartPost
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - text/xml; charset=utf-8
    body: 
      encoding: US-ASCII
      string: |
        <?xml version="1.0" encoding="utf-8" ?>
        <rsp stat="fail">
        	<err code="1" msg="Not a pro account" />
        </rsp>

  recorded_at: Sun, 13 May 2012 20:22:30 GMT
- request: 
    method: post
    uri: http://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=API_KEY&method=flickr.photos.delete&photo_id=7190986806
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="API_KEY", oauth_nonce="3eca6fcd35ffa5a295c2f6890d4d4e29", oauth_signature="8H01aIVAU4%2BFigzrKaWrLALypdg%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1336940550", oauth_token="ACCESS_TOKEN", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"stat\":\"ok\"}"
  recorded_at: Sun, 13 May 2012 20:22:30 GMT
recorded_with: VCR 2.1.1
