--- 
http_interactions: 
- request: 
    method: post
    uri: http://api.flickr.com/services/upload
    body: 
      encoding: ASCII-8BIT
      string: "#<Faraday::CompositeReadIO:0x007ffa68dd3a78>"
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="API_KEY", oauth_nonce="92c8e2c71c8a40ee24a65bf3394005a4", oauth_signature="DUubsLRubA3Zy7a%2F8lMIZATmijI%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1337013885", oauth_token="ACCESS_TOKEN", oauth_version="1.0"
      Content-Type: 
      - multipart/form-data;boundary=-----------RubyMultipartPost
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - text/xml; charset=utf-8
    body: 
      encoding: US-ASCII
      string: |
        <?xml version="1.0" encoding="utf-8" ?>
        <rsp stat="ok">
        <photoid>7197099228</photoid>
        </rsp>

  recorded_at: Mon, 14 May 2012 16:44:49 GMT
- request: 
    method: post
    uri: http://api.flickr.com/services/replace
    body: 
      encoding: ASCII-8BIT
      string: "#<Faraday::CompositeReadIO:0x007ffa68e0a050>"
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="API_KEY", oauth_nonce="5167cbe8bd5e1145a29a268ac46d55d3", oauth_signature="kjBSwiuXtbIRilZV2APQH5Mc%2FI4%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1337013889", oauth_token="ACCESS_TOKEN", oauth_version="1.0"
      Content-Type: 
      - multipart/form-data;boundary=-----------RubyMultipartPost
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - text/xml; charset=utf-8
    body: 
      encoding: US-ASCII
      string: |
        <?xml version="1.0" encoding="utf-8" ?>
        <rsp stat="fail">
        	<err code="1" msg="Not a pro account" />
        </rsp>

  recorded_at: Mon, 14 May 2012 16:44:50 GMT
- request: 
    method: post
    uri: http://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=API_KEY&method=flickr.photos.delete&photo_id=7197099228
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="API_KEY", oauth_nonce="28faae251df431a2862da8c5cf7cd091", oauth_signature="qE9MkDDdoNIuJGZxbCPCsSCShZA%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1337013890", oauth_token="ACCESS_TOKEN", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"stat\":\"ok\"}"
  recorded_at: Mon, 14 May 2012 16:44:51 GMT
recorded_with: VCR 2.1.1
