--- 
http_interactions: 
- request: 
    method: get
    uri: http://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=API_KEY&method=flickr.photos.getFavorites&photo_id=6946979188
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="API_KEY", oauth_nonce="bb69fa3df8f59e77f84fd174c8bc7225", oauth_signature="JZIjpC34wigg4jDE%2FTe1N76lhsA%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1337626723", oauth_token="ACCESS_TOKEN", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json
    body: 
      encoding: ASCII-8BIT
      string: "{\"photo\":{\"person\":[], \"id\":\"6946979188\", \"secret\":\"25bb44852b\", \"server\":\"7049\", \"farm\":8, \"page\":1, \"pages\":0, \"perpage\":10, \"total\":\"0\"}, \"stat\":\"ok\"}"
  recorded_at: Mon, 21 May 2012 18:58:46 GMT
- request: 
    method: get
    uri: http://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=API_KEY&method=flickr.photos.getFavorites&photo_id=6946979188
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="API_KEY", oauth_nonce="3eff6c0832ba1ee5f478437aba1f0ce5", oauth_signature="o6a8TZR0g3xa6D%2FofWsAz6esHVQ%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1337626726", oauth_token="ACCESS_TOKEN", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json
    body: 
      encoding: ASCII-8BIT
      string: "{\"photo\":{\"person\":[], \"id\":\"6946979188\", \"secret\":\"25bb44852b\", \"server\":\"7049\", \"farm\":8, \"page\":1, \"pages\":0, \"perpage\":10, \"total\":\"0\"}, \"stat\":\"ok\"}"
  recorded_at: Mon, 21 May 2012 18:58:49 GMT
recorded_with: VCR 2.1.1
