--- 
http_interactions: 
- request: 
    method: get
    uri: http://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=API_KEY&method=flickr.photos.getCounts&taken_dates=2009-05-19+00%3A00%3A00+UTC%2C2012-05-19+00%3A00%3A00+UTC
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="API_KEY", oauth_nonce="1fb48806de99d35470da50f2eb6852a0", oauth_signature="BjB6tRRQJQ%2BQ7MUxQtK6vomp0Fk%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1337626711", oauth_token="ACCESS_TOKEN", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json
    body: 
      encoding: ASCII-8BIT
      string: "{\"photocounts\":{\"photocount\":[{\"count\":\"98\", \"fromdate\":\"2009-05-19 00:00:00\", \"todate\":\"2012-05-19 00:00:00\"}]}, \"stat\":\"ok\"}"
  recorded_at: Mon, 21 May 2012 18:58:32 GMT
[...]
- request: 
    method: get
    uri: http://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=API_KEY&method=flickr.photos.getCounts&taken_dates=2009-05-19+00%3A00%3A00+UTC%2C2012-05-19+00%3A00%3A00+UTC
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="API_KEY", oauth_nonce="32f83ba6ae4ed2a709035776a49b8fda", oauth_signature="AGbylZOMzQWx5%2Fks%2BqfoBP2kN28%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1337626713", oauth_token="ACCESS_TOKEN", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json
    body: 
      encoding: ASCII-8BIT
      string: "{\"photocounts\":{\"photocount\":[{\"count\":\"98\", \"fromdate\":\"2009-05-19 00:00:00\", \"todate\":\"2012-05-19 00:00:00\"}]}, \"stat\":\"ok\"}"
  recorded_at: Mon, 21 May 2012 18:58:36 GMT
recorded_with: VCR 2.1.1
