--- 
http_interactions: 
- request: 
    method: get
    uri: http://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=API_KEY&method=flickr.photos.getCounts&taken_dates=2009-05-19%2000%3A00%3A00%20UTC%2C2012-05-19%2000%3A00%3A00%20UTC
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="API_KEY", oauth_nonce="9590f787f262baff58c28bed47fbd3a4", oauth_signature="e2PjMYIgQkUW8UhvSS2QJcUZedw%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1337445593", oauth_token="ACCESS_TOKEN", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json
    body: 
      encoding: ASCII-8BIT
      string: "{\"photocounts\":{\"photocount\":[{\"count\":\"98\", \"fromdate\":\"2009-05-19 00:00:00\", \"todate\":\"2012-05-19 00:00:00\"}]}, \"stat\":\"ok\"}"
  recorded_at: Sat, 19 May 2012 16:39:53 GMT
[...]
- request: 
    method: get
    uri: http://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=API_KEY&method=flickr.photos.getCounts&taken_dates=2009-05-19%2000%3A00%3A00%20UTC%2C2012-05-19%2000%3A00%3A00%20UTC
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="API_KEY", oauth_nonce="12b951ff1a798cdd2d01d2b20d586511", oauth_signature="IgBlts9l2eYIZIvPgRryTl7NXZY%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1337445594", oauth_token="ACCESS_TOKEN", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json
    body: 
      encoding: ASCII-8BIT
      string: "{\"photocounts\":{\"photocount\":[{\"count\":\"98\", \"fromdate\":\"2009-05-19 00:00:00\", \"todate\":\"2012-05-19 00:00:00\"}]}, \"stat\":\"ok\"}"
  recorded_at: Sat, 19 May 2012 16:39:54 GMT
recorded_with: VCR 2.1.1
