--- 
http_interactions: 
- request: 
    method: get
    uri: http://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=API_KEY&method=flickr.photos.getCounts&taken_dates=2012-03-01%2000%3A00%3A00%20UTC%2C2012-05-05%2000%3A00%3A00%20UTC
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="API_KEY", oauth_nonce="35bf213e1db730b221103f7d07c9ba62", oauth_signature="teVswA3o1LeXzpfkr1Tg6oOAiV4%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1337292017", oauth_token="ACCESS_TOKEN", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json
    body: 
      encoding: ASCII-8BIT
      string: "{\"photocounts\":{\"photocount\":[{\"count\":\"1\", \"fromdate\":\"2012-03-01 00:00:00\", \"todate\":\"2012-05-05 00:00:00\"}]}, \"stat\":\"ok\"}"
  recorded_at: Thu, 17 May 2012 22:00:17 GMT
- request: 
    method: get
    uri: http://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=API_KEY&method=flickr.photos.getCounts&dates=1330560000%2C1336176000
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="API_KEY", oauth_nonce="379801c451b059e6a34e1f9814ff00f3", oauth_signature="LDYAXyl6pQx%2FnJlvoB6L6GVWd3Q%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1337292017", oauth_token="ACCESS_TOKEN", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json
    body: 
      encoding: ASCII-8BIT
      string: "{\"photocounts\":{\"photocount\":[{\"count\":\"98\", \"fromdate\":\"1330560000\", \"todate\":\"1336176000\"}]}, \"stat\":\"ok\"}"
  recorded_at: Thu, 17 May 2012 22:00:17 GMT
recorded_with: VCR 2.1.1
