--- 
http_interactions: 
- request: 
    method: get
    uri: http://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key&method=flickr.photos.licenses.getInfo
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="", oauth_nonce="af461b67d45727bd0afa16c8c604fbc5", oauth_signature="xyV6rwRdvIyuaPICunzOEHGK47U%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1338376546", oauth_token="ACCESS_TOKEN", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - text/plain; charset=utf-8
    body: 
      encoding: ASCII-8BIT
      string: "{\"stat\":\"fail\", \"code\":100, \"message\":\"Invalid API Key (Key has invalid format)\"}"
  recorded_at: Wed, 30 May 2012 11:15:46 GMT
- request: 
    method: post
    uri: http://api.flickr.com/services/upload
    body: 
      encoding: ASCII-8BIT
      string: "#<Faraday::CompositeReadIO:0x007f95dcb48a38>"
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="", oauth_nonce="acb6e2f49a29b53fd9bb3827b9b7e256", oauth_signature="Hjc5GtG298rZcK9PXHlCXyEx%2BBg%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1338376546", oauth_token="ACCESS_TOKEN", oauth_version="1.0"
      Content-Type: 
      - multipart/form-data;boundary=-----------RubyMultipartPost
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - text/xml; charset=utf-8
    body: 
      encoding: US-ASCII
      string: |
        <?xml version="1.0" encoding="utf-8" ?>
        <rsp stat="fail">
        	<err code="100" msg="Invalid API Key (Key has invalid format)" />
        </rsp>

  recorded_at: Wed, 30 May 2012 11:15:48 GMT
recorded_with: VCR 2.1.1
