--- 
http_interactions: 
- request: 
    method: get
    uri: http://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key&method=flickr.photos.licenses.getInfo
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="", oauth_nonce="b387c6468b873843db41e60beb22bb84", oauth_signature="%2FD1tnun7kenzMSaIeuVztBqQGSk%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1337626755", oauth_token="ACCESS_TOKEN", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - text/plain; charset=utf-8
    body: 
      encoding: ASCII-8BIT
      string: "{\"stat\":\"fail\", \"code\":100, \"message\":\"Invalid API Key (Key has invalid format)\"}"
  recorded_at: Mon, 21 May 2012 18:59:16 GMT
- request: 
    method: post
    uri: http://api.flickr.com/services/upload
    body: 
      encoding: ASCII-8BIT
      string: "#<Faraday::CompositeReadIO:0x007fd779c7d0f0>"
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="", oauth_nonce="14d6ff63a66c13e54ad30d159b534cc1", oauth_signature="odRAf85%2BZvBmBPmxT3jdxNOPdEw%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1337626756", oauth_token="ACCESS_TOKEN", oauth_version="1.0"
      Content-Type: 
      - multipart/form-data;boundary=-----------RubyMultipartPost
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - text/xml; charset=utf-8
    body: 
      encoding: US-ASCII
      string: |
        <?xml version="1.0" encoding="utf-8" ?>
        <rsp stat="fail">
        	<err code="100" msg="Invalid API Key (Key has invalid format)" />
        </rsp>

  recorded_at: Mon, 21 May 2012 18:59:18 GMT
recorded_with: VCR 2.1.1
