--- 
http_interactions: 
- request: 
    method: get
    uri: http://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=API_KEY&method=flickr.photos.getInfo&photo_id=6946979188
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="API_KEY", oauth_nonce="47670da362341e29b95dd11ad8230bcc", oauth_signature="9W7mRcSKuxTjhyuRGKTfKeYLxtc%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1337013896", oauth_token="", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json
    body: 
      encoding: ASCII-8BIT
      string: "{\"photo\":{\"id\":\"6946979188\", \"secret\":\"25bb44852b\", \"server\":\"7049\", \"farm\":8, \"dateuploaded\":\"1334832745\", \"isfavorite\":0, \"license\":\"0\", \"safety_level\":\"0\", \"rotation\":90, \"owner\":{\"nsid\":\"67131352@N04\", \"username\":\"Janko Marohni\\u0107\", \"realname\":\"Janko Marohni\\u0107\", \"location\":\"Zagreb, Croatia\", \"iconserver\":\"5464\", \"iconfarm\":6}, \"title\":{\"_content\":\"IMG_0796\"}, \"description\":{\"_content\":\"Test\"}, \"visibility\":{\"ispublic\":1, \"isfriend\":0, \"isfamily\":0}, \"dates\":{\"posted\":\"1334832745\", \"taken\":\"2011-03-20 17:00:05\", \"takengranularity\":\"0\", \"lastupdate\":\"1337013893\"}, \"views\":\"4\", \"editability\":{\"cancomment\":0, \"canaddmeta\":0}, \"publiceditability\":{\"cancomment\":1, \"canaddmeta\":0}, \"usage\":{\"candownload\":1, \"canblog\":0, \"canprint\":0, \"canshare\":0}, \"comments\":{\"_content\":\"1\"}, \"notes\":{\"note\":[{\"id\":\"72157629487842968\", \"author\":\"67131352@N04\", \"authorname\":\"Janko Marohni\\u0107\", \"x\":\"316\", \"y\":\"0\", \"w\":\"59\", \"h\":\"50\", \"_content\":\"Test\"}]}, \"people\":{\"haspeople\":0}, \"tags\":{\"tag\":[{\"id\":\"67099213-6946979188-89662\", \"author\":\"67131352@N04\", \"raw\":\"luka\", \"_content\":\"luka\", \"machine_tag\":0}]}, \"location\":{\"latitude\":45.807258, \"longitude\":15.967599, \"accuracy\":\"11\", \"context\":\"0\", \"locality\":{\"_content\":\"Zagreb\", \"place_id\":\"00j4IylZV7scWik\", \"woeid\":\"851128\"}, \"county\":{\"_content\":\"Zagreb\", \"place_id\":\"306dHrhQV7o6jm.ZUQ\", \"woeid\":\"15022257\"}, \"region\":{\"_content\":\"Grad Zagreb\", \"place_id\":\"Js1DU.pTUrpBCIKhVw\", \"woeid\":\"20070170\"}, \"country\":{\"_content\":\"Croatia\", \"place_id\":\"FunRCI5TUb6a6soTyw\", \"woeid\":\"23424843\"}, \"place_id\":\"00j4IylZV7scWik\", \"woeid\":\"851128\"}, \"geoperms\":{\"ispublic\":1, \"iscontact\":0, \"isfriend\":0, \"isfamily\":0}, \"urls\":{\"url\":[{\"type\":\"photopage\", \"_content\":\"http:\\/\\/www.flickr.com\\/photos\\/67131352@N04\\/6946979188\\/\"}]}, \"media\":\"photo\"}, \"stat\":\"ok\"}"
  recorded_at: Mon, 14 May 2012 16:44:57 GMT
- request: 
    method: post
    uri: http://api.flickr.com/services/upload
    body: 
      encoding: ASCII-8BIT
      string: "#<Faraday::CompositeReadIO:0x007ffa68fd3300>"
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="API_KEY", oauth_nonce="26b3db8fcfbb731ecc69cc207e714617", oauth_signature="YYovX4kMyCMEKUrc2qw3lENtxMU%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1337013897", oauth_token="ACCESS_TOKEN", oauth_version="1.0"
      Content-Type: 
      - multipart/form-data;boundary=-----------RubyMultipartPost
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - text/xml; charset=utf-8
    body: 
      encoding: US-ASCII
      string: |
        <?xml version="1.0" encoding="utf-8" ?>
        <rsp stat="ok">
        <photoid>7197100542</photoid>
        </rsp>

  recorded_at: Mon, 14 May 2012 16:45:02 GMT
- request: 
    method: post
    uri: http://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=API_KEY&method=flickr.photos.delete&photo_id=7197100542
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="API_KEY", oauth_nonce="8cf7e438df7847c0b5e152032e3401b5", oauth_signature="AGzzPT3%2B1M%2BRJBRwhg2Mm7nSyuI%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1337013902", oauth_token="ACCESS_TOKEN", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"stat\":\"ok\"}"
  recorded_at: Mon, 14 May 2012 16:45:02 GMT
- request: 
    method: get
    uri: http://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=API_KEY&method=flickr.test.login
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="API_KEY", oauth_nonce="a3f30568334e05b75e7dfaa7df221a31", oauth_signature="6LeND4%2Fsm%2Bu9KzpBPe6aDWGzbz8%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1337013902", oauth_token="ACCESS_TOKEN", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json
    body: 
      encoding: ASCII-8BIT
      string: "{\"user\":{\"id\":\"67131352@N04\", \"username\":{\"_content\":\"Janko Marohni\\u0107\"}}, \"stat\":\"ok\"}"
  recorded_at: Mon, 14 May 2012 16:45:03 GMT
- request: 
    method: post
    uri: http://api.flickr.com/services/upload
    body: 
      encoding: ASCII-8BIT
      string: "#<Faraday::CompositeReadIO:0x007ffa68f8d3c8>"
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="API_KEY", oauth_nonce="73bd0a6f90168b4278a4e3e6bae69b4f", oauth_signature="jNxIXKqbNaIYlto2pyzgn8rKRKE%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1337013903", oauth_token="ACCESS_TOKEN", oauth_version="1.0"
      Content-Type: 
      - multipart/form-data;boundary=-----------RubyMultipartPost
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - text/xml; charset=utf-8
    body: 
      encoding: US-ASCII
      string: |
        <?xml version="1.0" encoding="utf-8" ?>
        <rsp stat="ok">
        <photoid>7197101150</photoid>
        </rsp>

  recorded_at: Mon, 14 May 2012 16:45:07 GMT
- request: 
    method: post
    uri: http://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=API_KEY&method=flickr.photos.delete&photo_id=7197101150
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="API_KEY", oauth_nonce="57950faacca433e442f30474d3a7f8b4", oauth_signature="TTbAlKZ1AZ%2BzR%2F9kLzNMXKJWgHU%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1337013907", oauth_token="ACCESS_TOKEN", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"stat\":\"ok\"}"
  recorded_at: Mon, 14 May 2012 16:45:08 GMT
recorded_with: VCR 2.1.1
