--- 
http_interactions: 
- request: 
    method: post
    uri: http://api.flickr.com/services/upload
    body: 
      encoding: ASCII-8BIT
      string: "#<Faraday::CompositeReadIO:0x007fea9dc53ea8>"
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="API_KEY", oauth_nonce="383e460ca3e85cec3bd8711e7adb921d", oauth_signature="03xFt17TGD8ZHJP7RiamoVxxtgo%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1338376627", oauth_token="ACCESS_TOKEN", oauth_version="1.0"
      Content-Type: 
      - multipart/form-data;boundary=-----------RubyMultipartPost
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - text/xml; charset=utf-8
    body: 
      encoding: US-ASCII
      string: |
        <?xml version="1.0" encoding="utf-8" ?>
        <rsp stat="ok">
        <photoid>7301119046</photoid>
        </rsp>

  recorded_at: Wed, 30 May 2012 11:17:12 GMT
- request: 
    method: get
    uri: http://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=API_KEY&method=flickr.people.getPhotos&user_id=67131352%40N04&extras=media
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="API_KEY", oauth_nonce="cea789b4c4130bbe18a773b035d608e8", oauth_signature="3cVt1N2PCNb9qy38qfe%2Biv06U9U%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1338376632", oauth_token="ACCESS_TOKEN", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json
    body: 
      encoding: ASCII-8BIT
      string: "{\"photos\":{\"page\":1, \"pages\":1, \"perpage\":100, \"total\":\"99\", \"photo\":[{\"id\":\"7301119046\", \"owner\":\"67131352@N04\", \"secret\":\"41bd9df5ef\", \"server\":\"7214\", \"farm\":8, \"title\":\"photo\", \"ispublic\":1, \"isfriend\":0, \"isfamily\":0, \"media\":\"photo\", \"media_status\":\"ready\"}, {\"id\":\"7093101501\", \"owner\":\"67131352@N04\", \"secret\":\"9337f28800\", \"server\":\"7090\", \"farm\":8, \"title\":\"IMG_0917\", \"ispublic\":1, \"isfriend\":0, \"isfamily\":0, \"media\":\"photo\", \"media_status\":\"ready\"}, {\"id\":\"7093100793\", \"owner\":\"67131352@N04\", \"secret\":\"358fb7bc5c\", \"server\":\"7091\", \"farm\":8, \"title\":\"IMG_0916\", \"ispublic\":1, \"isfriend\":0, \"isfamily\":0, \"media\":\"photo\", \"media_status\":\"ready\"}, {\"id\":\"7093100113[...]
- request: 
    method: post
    uri: http://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=API_KEY&method=flickr.photos.delete&photo_id=7301119046
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="API_KEY", oauth_nonce="7eb5bf3126385c2dc75a50bd1d6897a7", oauth_signature="e3kQ%2BKR3LKn8cd74nfQujbYfFqc%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1338376633", oauth_token="ACCESS_TOKEN", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"stat\":\"ok\"}"
  recorded_at: Wed, 30 May 2012 11:17:14 GMT
recorded_with: VCR 2.1.1
