--- 
http_interactions: 
- request: 
    method: get
    uri: http://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=API_KEY&method=flickr.photosets.getPhotos&photoset_id=72157629851991663&extras=media
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="API_KEY", oauth_nonce="3c682e1c5785fa1d01cb1aa396a23c30", oauth_signature="r5QD0mkPAXxmr6dV4Y7jxtUOkpU%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1338548289", oauth_token="ACCESS_TOKEN", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json
    body: 
      encoding: ASCII-8BIT
      string: "{\"photoset\":{\"id\":\"72157629851991663\", \"primary\":\"6946979188\", \"owner\":\"67131352@N04\", \"ownername\":\"Janko Marohni\\u0107\", \"photo\":[{\"id\":\"6946979188\", \"secret\":\"25bb44852b\", \"server\":\"7049\", \"farm\":8, \"title\":\"IMG_0796\", \"isprimary\":\"1\", \"media\":\"photo\", \"media_status\":\"ready\"}, {\"id\":\"6946978706\", \"secret\":\"b38270bbd6\", \"server\":\"7216\", \"farm\":8, \"title\":\"IMG_0795\", \"isprimary\":\"0\", \"media\":\"photo\", \"media_status\":\"ready\"}, {\"id\":\"7093049187\", \"secret\":\"90f36603c4\", \"server\":\"5112\", \"farm\":6, \"title\":\"IMG_0794\", \"isprimary\":\"0\", \"media\":\"photo\", \"media_status\":\"ready\"}, {\"id\":\"6946977782\", \"secret\":\"05dfb214aa\", \"server\":\"7114\", \"farm\":8, \"title\":\"IMG_0793\", \"isprimary\":\"0\", \[...]
- request: 
    method: get
    uri: http://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=API_KEY&method=flickr.photosets.getPhotos&photoset_id=72157629851991663&extras=media%2Curl_sq%2Curl_t%2Curl_q%2Curl_s%2Curl_n%2Curl_m%2Curl_z%2Curl_c%2Curl_l%2Curl_h%2Curl_k%2Curl_o
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="API_KEY", oauth_nonce="586d2debb6fee40c64aebad90b585386", oauth_signature="D7VPHg%2FKfCawwNKSs4KYYZcprS8%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1338548290", oauth_token="ACCESS_TOKEN", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json
    body: 
      encoding: ASCII-8BIT
      string: "{\"photoset\":{\"id\":\"72157629851991663\", \"primary\":\"6946979188\", \"owner\":\"67131352@N04\", \"ownername\":\"Janko Marohni\\u0107\", \"photo\":[{\"id\":\"6946979188\", \"secret\":\"25bb44852b\", \"server\":\"7049\", \"farm\":8, \"title\":\"IMG_0796\", \"isprimary\":\"1\", \"media\":\"photo\", \"media_status\":\"ready\", \"url_sq\":\"http:\\/\\/farm8.staticflickr.com\\/7049\\/6946979188_25bb44852b_s.jpg\", \"height_sq\":75, \"width_sq\":75, \"url_t\":\"http:\\/\\/farm8.staticflickr.com\\/7049\\/6946979188_25bb44852b_t.jpg\", \"height_t\":\"100\", \"width_t\":\"75\", \"url_q\":\"http:\\/\\/farm8.staticflickr.com\\/7049\\/6946979188_25bb44852b_q.jpg\", \"height_q\":\"150\", \"width_q\":\"150\", \"url_s\":\"http:\\/\\/farm8.staticflickr.com\\/7049\\/6946979188_25bb44852b_m.jpg\", \"height_s\":\"240\", \"width_s\":\"180\", \"url_n\":\"http:\\/\\/farm8.staticflickr.com\\/7049\\/6946979188_25bb44852b_n.jpg\", \"height_n\":240, \"width_n\":\"320\", \"url_m\":\"http:\\/\\/farm8.staticflickr.com\\/7049\\/6946979188_25bb44852b.jpg\", \"height_m\":\"500\", \"width_m\":\"375\", \"url_z\":\"http:\\/\\/farm8.staticflickr.com\\/7049\\/6946979188_25bb44852b_z.jpg\", \"height_z\":\"640\", \"width_z\":\"480\", \"url_c\":\"http:\\/\\/farm8.staticflickr.com\\/7049\\/6946979188_25bb44852b_c.jpg\", \"height_c\":600, \"width_c\":\"800\", \"url_l\":\"http:\\/\\/farm8.staticflickr.com\\/7049\\/6946979188_25bb44852b_b.jpg\", \"height_l\":\"1024\", \"width_l\":\"768\", \"url_h\":\"http:\\/\\/farm8.staticflickr.com\\/7049\\/6946979188_3219ddaa99_h.jpg\", \"height_h\":\"1600\", \"width_h\":1200, \"url_k\":\"http:\\/\\/farm8.staticflickr.com\\/7049\\/6946979188_b7dd05a1d3_k.jpg\", \"height_k\":\"2048\", \"width_k\":1536}, {\"id\":\"6946978706\", \"secret\":\"b38270bbd6\", \"server\":\"7216\", \"farm\":8, \"title\":\"IMG_0795\", \"isprimary\":\"0\", \"media\":\"photo\", \"media_status\":\"ready\", \"url_sq\":\"http:\\/\\/farm8.staticflickr.com\\/7216\\/6946978706_b38270bbd6_s.jpg\", \"height_sq\":75, \"width_sq\":75, \"url_t\":\"http:\\/\\/farm8.staticflickr.com\\/7216\\/6946978706_b38270bbd6_t.jpg\", \"height_t\":\"100\", \"width_t\":\"75\", \"url_q\":\"http:\\/\\/farm8.staticflickr.com\\/7216\\/6946978706[...]
