--- 
http_interactions: 
- request: 
    method: post
    uri: http://api.flickr.com/services/upload
    body: 
      encoding: ASCII-8BIT
      string: "#<Faraday::CompositeReadIO:0x007fb7ec1cf448>"
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="API_KEY", oauth_nonce="67802418fb15fbc7d249deacfdb9b236", oauth_signature="bi23Eg7os7V9jqygHVLv%2B1Ja4X4%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1338374829", oauth_token="ACCESS_TOKEN", oauth_version="1.0"
      Content-Type: 
      - multipart/form-data;boundary=-----------RubyMultipartPost
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - text/xml; charset=utf-8
    body: 
      encoding: US-ASCII
      string: |
        <?xml version="1.0" encoding="utf-8" ?>
        <rsp stat="ok">
        <photoid>7301022570</photoid>
        </rsp>

  recorded_at: Wed, 30 May 2012 10:47:14 GMT
- request: 
    method: post
    uri: http://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=API_KEY&method=flickr.photos.delete&photo_id=7301022570
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="API_KEY", oauth_nonce="7fd8394aecaa741fc1d934f0b06a81de", oauth_signature="9k%2FCiCLMuOYm8aY6cmoSKqqXtzU%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1338374834", oauth_token="ACCESS_TOKEN", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"stat\":\"ok\"}"
  recorded_at: Wed, 30 May 2012 10:47:14 GMT
recorded_with: VCR 2.1.1
