--- 
http_interactions: 
- request: 
    method: get
    uri: http://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=API_KEY&method=flickr.photos.comments.getList&photo_id=6946979188
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="API_KEY", oauth_nonce="52a1c68134f62fd5f5ba5ddb75551b38", oauth_signature="kZwfcdPERvnJqWZAWVKjATQ01%2BA%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1346059724", oauth_token="ACCESS_TOKEN", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json
    body: 
      encoding: ASCII-8BIT
      string: "{\"comments\":{\"photo_id\":\"6946979188\", \"comment\":[{\"id\":\"67099213-6946979188-72157629852219939\", \"author\":\"67131352@N04\", \"authorname\":\"Janko Marohni\\u0107\", \"iconserver\":\"5464\", \"iconfarm\":6, \"datecreate\":\"1334836152\", \"permalink\":\"http:\\/\\/www.flickr.com\\/photos\\/67131352@N04\\/6946979188\\/#comment72157629852219939\", \"_content\":\"Test\"}]}, \"stat\":\"ok\"}"
  recorded_at: Mon, 27 Aug 2012 09:28:45 GMT
recorded_with: VCR 2.2.4
