--- 
http_interactions: 
- request: 
    method: get
    uri: http://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key&method=flickr.photos.licenses.getInfo
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="", oauth_nonce="4c3de5b0161fab43b80f765fb785c479", oauth_signature="RHq%2FOO9vzjL4y4B9vw46XCvCyU4%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1337292004", oauth_token="", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - text/plain; charset=utf-8
    body: 
      encoding: ASCII-8BIT
      string: "{\"stat\":\"fail\", \"code\":100, \"message\":\"Invalid API Key (Key has invalid format)\"}"
  recorded_at: Thu, 17 May 2012 22:00:04 GMT
- request: 
    method: post
    uri: http://api.flickr.com/services/upload
    body: 
      encoding: ASCII-8BIT
      string: "#<Faraday::CompositeReadIO:0x007fb6b4e0a890>"
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="", oauth_nonce="128a84c37049677eb2adc955e142c248", oauth_signature="rDmeEVe3%2BjW9BeJBXi9J9whin9c%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1337292004", oauth_token="", oauth_version="1.0"
      Content-Type: 
      - multipart/form-data;boundary=-----------RubyMultipartPost
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - text/xml; charset=utf-8
    body: 
      encoding: US-ASCII
      string: |
        <?xml version="1.0" encoding="utf-8" ?>
        <rsp stat="fail">
        	<err code="100" msg="Invalid API Key (Key has invalid format)" />
        </rsp>

  recorded_at: Thu, 17 May 2012 22:00:06 GMT
recorded_with: VCR 2.1.1
