--- 
http_interactions: 
- request: 
    method: get
    uri: http://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key&method=flickr.photos.licenses.getInfo
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="", oauth_nonce="9015665b754be8ec9bd9fcd5d3dfa651", oauth_signature="7HdDBQN0fTShBFL%2BQQ3rVrHMdhk%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1337106970", oauth_token="", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - text/plain; charset=utf-8
    body: 
      encoding: ASCII-8BIT
      string: "{\"stat\":\"fail\", \"code\":100, \"message\":\"Invalid API Key (Key has invalid format)\"}"
  recorded_at: Tue, 15 May 2012 18:36:11 GMT
- request: 
    method: post
    uri: http://api.flickr.com/services/upload
    body: 
      encoding: ASCII-8BIT
      string: "#<Faraday::CompositeReadIO:0x007fe135a1f568>"
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="", oauth_nonce="14fea8fb475e896e7a57153105ab0c76", oauth_signature="81Hz9uxYjntqJiHvrTHxjSrAq80%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1337106971", oauth_token="", oauth_version="1.0"
      Content-Type: 
      - multipart/form-data;boundary=-----------RubyMultipartPost
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - text/xml; charset=utf-8
    body: 
      encoding: US-ASCII
      string: |
        <?xml version="1.0" encoding="utf-8" ?>
        <rsp stat="fail">
        	<err code="100" msg="Invalid API Key (Key has invalid format)" />
        </rsp>

  recorded_at: Tue, 15 May 2012 18:36:12 GMT
recorded_with: VCR 2.1.1
