--- 
http_interactions: 
- request: 
    method: get
    uri: http://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key&method=flickr.photos.licenses.getInfo
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="", oauth_nonce="9041d610a53f45ca723b39c56dccc1b3", oauth_signature="GrRasbR293v3i4i%2Bget7Vb8PNuA%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1336940553", oauth_token="", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - text/plain; charset=utf-8
    body: 
      encoding: ASCII-8BIT
      string: "{\"stat\":\"fail\", \"code\":100, \"message\":\"Invalid API Key (Key has invalid format)\"}"
  recorded_at: Sun, 13 May 2012 20:22:33 GMT
- request: 
    method: post
    uri: http://api.flickr.com/services/upload
    body: 
      encoding: ASCII-8BIT
      string: "#<Faraday::CompositeReadIO:0x007f8f93fc85a8>"
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="", oauth_nonce="0ca42aea3fd3e04d1130860793bef13d", oauth_signature="jVeAqjLktrx0qjxSyVhSo76z1co%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1336940553", oauth_token="", oauth_version="1.0"
      Content-Type: 
      - multipart/form-data;boundary=-----------RubyMultipartPost
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - text/xml; charset=utf-8
    body: 
      encoding: US-ASCII
      string: |
        <?xml version="1.0" encoding="utf-8" ?>
        <rsp stat="fail">
        	<err code="100" msg="Invalid API Key (Key has invalid format)" />
        </rsp>

  recorded_at: Sun, 13 May 2012 20:22:35 GMT
recorded_with: VCR 2.1.1
