--- 
http_interactions: 
- request: 
    method: post
    uri: http://api.flickr.com/services/upload
    body: 
      encoding: ASCII-8BIT
      string: "#<Faraday::CompositeReadIO:0x007fd779bb98d0>"
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="API_KEY", oauth_nonce="8e16f66a6cf8ea4f46757a372837f02c", oauth_signature="MpZtN7H2FTeG3li2hXv27cnIn8o%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1337626632", oauth_token="ACCESS_TOKEN", oauth_version="1.0"
      Content-Type: 
      - multipart/form-data;boundary=-----------RubyMultipartPost
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - text/xml; charset=utf-8
    body: 
      encoding: US-ASCII
      string: |
        <?xml version="1.0" encoding="utf-8" ?>
        <rsp stat="ok">
        <photoid>7243590740</photoid>
        </rsp>

  recorded_at: Mon, 21 May 2012 18:57:27 GMT
- request: 
    method: post
    uri: http://api.flickr.com/services/replace
    body: 
      encoding: ASCII-8BIT
      string: "#<Faraday::CompositeReadIO:0x007fd779c684e8>"
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="API_KEY", oauth_nonce="3368664146f78b75800c06052221da30", oauth_signature="cLiKU4Go%2BNQzMp6cxn%2BJ6SuEjZc%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1337626647", oauth_token="ACCESS_TOKEN", oauth_version="1.0"
      Content-Type: 
      - multipart/form-data;boundary=-----------RubyMultipartPost
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - text/xml; charset=utf-8
    body: 
      encoding: US-ASCII
      string: |
        <?xml version="1.0" encoding="utf-8" ?>
        <rsp stat="fail">
        	<err code="1" msg="Not a pro account" />
        </rsp>

  recorded_at: Mon, 21 May 2012 18:57:35 GMT
- request: 
    method: post
    uri: http://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=API_KEY&method=flickr.photos.delete&photo_id=7243590740
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="API_KEY", oauth_nonce="6694d7f88bc836dbdf9e19e16509d08e", oauth_signature="cOZfLO6%2F%2BHOgMq4aEw2iedexgsk%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1337626655", oauth_token="ACCESS_TOKEN", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"stat\":\"ok\"}"
  recorded_at: Mon, 21 May 2012 18:57:40 GMT
recorded_with: VCR 2.1.1
