--- 
http_interactions: 
- request: 
    method: post
    uri: http://api.flickr.com/services/upload
    body: 
      encoding: ASCII-8BIT
      string: "#<Faraday::CompositeReadIO:0x007f9d92cb16c8>"
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="API_KEY", oauth_nonce="8bb746a109de9fee65777699badcf74e", oauth_signature="7yrzGBddxL8fP8horEn%2FcwHrgwQ%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1337442432", oauth_token="ACCESS_TOKEN", oauth_version="1.0"
      Content-Type: 
      - multipart/form-data;boundary=-----------RubyMultipartPost
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - text/xml; charset=utf-8
    body: 
      encoding: US-ASCII
      string: |
        <?xml version="1.0" encoding="utf-8" ?>
        <rsp stat="ok">
        <photoid>7227569274</photoid>
        </rsp>

  recorded_at: Sat, 19 May 2012 15:47:17 GMT
- request: 
    method: post
    uri: http://api.flickr.com/services/replace
    body: 
      encoding: ASCII-8BIT
      string: "#<Faraday::CompositeReadIO:0x007f9d92c0ed10>"
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="API_KEY", oauth_nonce="61aff2bd9a9ca8db60acddee76e8b9d2", oauth_signature="tweppKFTsjnsMdU3hacqt6%2FYKv4%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1337442437", oauth_token="ACCESS_TOKEN", oauth_version="1.0"
      Content-Type: 
      - multipart/form-data;boundary=-----------RubyMultipartPost
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - text/xml; charset=utf-8
    body: 
      encoding: US-ASCII
      string: |
        <?xml version="1.0" encoding="utf-8" ?>
        <rsp stat="fail">
        	<err code="1" msg="Not a pro account" />
        </rsp>

  recorded_at: Sat, 19 May 2012 15:47:18 GMT
- request: 
    method: post
    uri: http://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=API_KEY&method=flickr.photos.delete&photo_id=7227569274
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="API_KEY", oauth_nonce="f4f49be7c359ecb47c705d95e963871e", oauth_signature="gGLke7oOCkRKmfh9e5LiqQpHHjM%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1337442438", oauth_token="ACCESS_TOKEN", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"stat\":\"ok\"}"
  recorded_at: Sat, 19 May 2012 15:47:18 GMT
recorded_with: VCR 2.1.1
