--- 
http_interactions: 
- request: 
    method: post
    uri: http://api.flickr.com/services/upload
    body: 
      encoding: ASCII-8BIT
      string: "#<Faraday::CompositeReadIO:0x007f9d93b5bca0>"
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="API_KEY", oauth_nonce="1544c1bcc9f197b2e97b1cd09798b99b", oauth_signature="%2F6vbP2y14Ep1fxKmlYVYZdhf2Bo%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1337442413", oauth_token="ACCESS_TOKEN", oauth_version="1.0"
      Content-Type: 
      - multipart/form-data;boundary=-----------RubyMultipartPost
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - text/xml; charset=utf-8
    body: 
      encoding: US-ASCII
      string: |
        <?xml version="1.0" encoding="utf-8" ?>
        <rsp stat="ok">
        <ticketid>67099213-72157629799935444</ticketid>
        </rsp>

  recorded_at: Sat, 19 May 2012 15:46:54 GMT
- request: 
    method: get
    uri: http://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=API_KEY&method=flickr.photos.upload.checkTickets&tickets=67099213-72157629799935444
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="API_KEY", oauth_nonce="37b75271b531b5ca3c7548e4b592a948", oauth_signature="s2UxPsDDYvWMLGnkO3YpAvXMHAY%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1337442431", oauth_token="ACCESS_TOKEN", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json
    body: 
      encoding: ASCII-8BIT
      string: "{\"uploader\":{\"ticket\":[{\"id\":\"67099213-72157629799935444\", \"complete\":1, \"photoid\":\"7227567554\", \"imported\":\"1337442414\"}]}, \"stat\":\"ok\"}"
  recorded_at: Sat, 19 May 2012 15:47:12 GMT
- request: 
    method: post
    uri: http://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=API_KEY&method=flickr.photos.delete&photo_id=7227567554
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="API_KEY", oauth_nonce="82d5626f6d401e16f97eac43f05e54d9", oauth_signature="iOojn88bnlNEOqllyZfKVURLlj4%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1337442432", oauth_token="ACCESS_TOKEN", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"stat\":\"ok\"}"
  recorded_at: Sat, 19 May 2012 15:47:12 GMT
recorded_with: VCR 2.1.1
