--- 
http_interactions: 
- request: 
    method: post
    uri: http://api.flickr.com/services/upload
    body: 
      encoding: ASCII-8BIT
      string: "#<Faraday::CompositeReadIO:0x007fd779bec230>"
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="API_KEY", oauth_nonce="29af0c5c702a1defdbfac2db7f62c3b5", oauth_signature="42Pek%2B%2B%2FAKzNDaNC%2FxnK0t2nPIM%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1337626606", oauth_token="ACCESS_TOKEN", oauth_version="1.0"
      Content-Type: 
      - multipart/form-data;boundary=-----------RubyMultipartPost
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - text/xml; charset=utf-8
    body: 
      encoding: US-ASCII
      string: |
        <?xml version="1.0" encoding="utf-8" ?>
        <rsp stat="ok">
        <ticketid>67099213-72157629834843072</ticketid>
        </rsp>

  recorded_at: Mon, 21 May 2012 18:57:07 GMT
- request: 
    method: get
    uri: http://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=API_KEY&method=flickr.photos.upload.checkTickets&tickets=67099213-72157629834843072
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="API_KEY", oauth_nonce="7f100817343ed0285cd9b8b17e1d8156", oauth_signature="NmmdLuLFi1sUWf2iQscFJ0wdZis%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1337626627", oauth_token="ACCESS_TOKEN", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json
    body: 
      encoding: ASCII-8BIT
      string: "{\"uploader\":{\"ticket\":[{\"id\":\"67099213-72157629834843072\", \"complete\":1, \"photoid\":\"7243588772\", \"imported\":\"1337626626\"}]}, \"stat\":\"ok\"}"
  recorded_at: Mon, 21 May 2012 18:57:09 GMT
- request: 
    method: post
    uri: http://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=API_KEY&method=flickr.photos.delete&photo_id=7243588772
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="API_KEY", oauth_nonce="14cc928cb761375beda5ac88858e5712", oauth_signature="vPNbKRyr5dOPVqE%2BAGC6QtnIv0I%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1337626629", oauth_token="ACCESS_TOKEN", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"stat\":\"ok\"}"
  recorded_at: Mon, 21 May 2012 18:57:12 GMT
recorded_with: VCR 2.1.1
