--- 
http_interactions: 
- request: 
    method: post
    uri: http://api.flickr.com/services/upload
    body: 
      encoding: ASCII-8BIT
      string: "#<Faraday::CompositeReadIO:0x007fd779ccfc10>"
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="API_KEY", oauth_nonce="70b46699a1a9de755297a859e2abf1fd", oauth_signature="PM3AiNT%2BKoMeMm5UML0SDXRVlxc%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1337626584", oauth_token="ACCESS_TOKEN", oauth_version="1.0"
      Content-Type: 
      - multipart/form-data;boundary=-----------RubyMultipartPost
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - text/xml; charset=utf-8
    body: 
      encoding: US-ASCII
      string: |
        <?xml version="1.0" encoding="utf-8" ?>
        <rsp stat="ok">
        <photoid>7243585904</photoid>
        </rsp>

  recorded_at: Mon, 21 May 2012 18:56:44 GMT
- request: 
    method: post
    uri: http://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=API_KEY&method=flickr.photos.delete&photo_id=7243585904
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="API_KEY", oauth_nonce="61eecee2761b82afb5da02847e095aa0", oauth_signature="AjI63Hm2%2B95RUzEG0MXiYwSsFUU%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1337626604", oauth_token="ACCESS_TOKEN", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"stat\":\"ok\"}"
  recorded_at: Mon, 21 May 2012 18:56:46 GMT
recorded_with: VCR 2.1.1
