--- 
http_interactions: 
- request: 
    method: post
    uri: http://api.flickr.com/services/upload
    body: 
      encoding: ASCII-8BIT
      string: "#<Faraday::CompositeReadIO:0x007f9d93bf1bb0>"
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="API_KEY", oauth_nonce="4f8cb8a9d3a0c6990c759fa72d98ed90", oauth_signature="WkiCSNwxlVVdpC4ni6jlW2pTxzI%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1337442407", oauth_token="ACCESS_TOKEN", oauth_version="1.0"
      Content-Type: 
      - multipart/form-data;boundary=-----------RubyMultipartPost
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - text/xml; charset=utf-8
    body: 
      encoding: US-ASCII
      string: |
        <?xml version="1.0" encoding="utf-8" ?>
        <rsp stat="ok">
        <photoid>7227567070</photoid>
        </rsp>

  recorded_at: Sat, 19 May 2012 15:46:53 GMT
- request: 
    method: post
    uri: http://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=API_KEY&method=flickr.photos.delete&photo_id=7227567070
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="API_KEY", oauth_nonce="ffefed7ef896529aa41680289356fb43", oauth_signature="QxALFK3hu8gI6bxJqRlUodXkDxw%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1337442413", oauth_token="ACCESS_TOKEN", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"stat\":\"ok\"}"
  recorded_at: Sat, 19 May 2012 15:46:53 GMT
recorded_with: VCR 2.1.1
