--- 
http_interactions: 
- request: 
    method: get
    uri: http://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=API_KEY&method=flickr.photos.getContext&photo_id=6946979188
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="API_KEY", oauth_nonce="ded48034682fadcddfae0f142e2d5d68", oauth_signature="T%2BhR1H3jQW0Mvq%2Bjh9ZC8zFpado%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1338374970", oauth_token="ACCESS_TOKEN", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json
    body: 
      encoding: ASCII-8BIT
      string: "{\"count\":{\"_content\":98}, \"prevphoto\":{\"id\":\"6946978706\", \"secret\":\"b38270bbd6\", \"server\":\"7216\", \"farm\":8, \"title\":\"IMG_0795\", \"url\":\"\\/photos\\/67131352@N04\\/6946978706\\/in\\/photostream\\/\", \"thumb\":\"http:\\/\\/farm8.staticflickr.com\\/7216\\/6946978706_b38270bbd6_s.jpg\", \"media\":\"photo\", \"license\":\"0\", \"is_faved\":0}, \"nextphoto\":{\"id\":\"6946979704\", \"secret\":\"74513ff732\", \"server\":\"7234\", \"farm\":8, \"title\":\"IMG_0797\", \"url\":\"\\/photos\\/67131352@N04\\/6946979704\\/in\\/photostream\\/\", \"thumb\":\"http:\\/\\/farm8.staticflickr.com\\/7234\\/6946979704_74513ff732_s.jpg\", \"media\":\"photo\", \"license\":\"0\", \"is_faved\":0}, \"stat\":\"ok\"}"
  recorded_at: Wed, 30 May 2012 10:49:32 GMT
[...]
- request: 
    method: get
    uri: http://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=API_KEY&method=flickr.photos.getContext&photo_id=7093038981
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="API_KEY", oauth_nonce="edc7d1bda3f78d8e84146c1b27403fa7", oauth_signature="%2Bac%2BJMf3K19IDSzK3eIPFDTPkQw%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1338374972", oauth_token="ACCESS_TOKEN", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json
    body: 
      encoding: ASCII-8BIT
      string: "{\"count\":{\"_content\":98}, \"prevphoto\":{\"id\":0, \"is_faved\":0}, \"nextphoto\":{\"id\":\"6946968774\", \"secret\":\"e24f175d9b\", \"server\":\"7188\", \"farm\":8, \"title\":\"IMG_0778\", \"url\":\"\\/photos\\/67131352@N04\\/6946968774\\/in\\/photostream\\/\", \"thumb\":\"http:\\/\\/farm8.staticflickr.com\\/7188\\/6946968774_e24f175d9b_s.jpg\", \"media\":\"photo\", \"license\":null, \"is_faved\":0}, \"stat\":\"ok\"}"
  recorded_at: Wed, 30 May 2012 10:49:33 GMT
recorded_with: VCR 2.1.1
