--- 
http_interactions: 
- request: 
    method: get
    uri: http://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=API_KEY&method=flickr.photos.getContactsPublicPhotos&user_id=67131352%40N04&include_self=1&single_photo=1&extras=media
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="API_KEY", oauth_nonce="0c9e2ec468085d2a8de788007f331e34", oauth_signature="ywDBN7iFMOe%2BqJkazhVTLBS4cT4%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1338374857", oauth_token="ACCESS_TOKEN", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json
    body: 
      encoding: ASCII-8BIT
      string: "{\"photos\":{\"photo\":[{\"id\":\"7093101501\", \"secret\":\"9337f28800\", \"server\":\"7090\", \"farm\":8, \"owner\":\"67131352@N04\", \"username\":\"Janko Marohni\\u0107\", \"title\":\"IMG_0917\", \"ispublic\":1, \"isfriend\":0, \"isfamily\":0, \"media\":\"photo\", \"media_status\":\"ready\"}], \"total\":2, \"page\":1, \"per_page\":10, \"pages\":1}, \"stat\":\"ok\"}"
  recorded_at: Wed, 30 May 2012 10:47:38 GMT
[...]
- request: 
    method: get
    uri: http://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=API_KEY&method=flickr.photos.getContactsPublicPhotos&user_id=67131352%40N04&include_self=1&single_photo=1&extras=media
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="API_KEY", oauth_nonce="06387b66266f811b0f93dd2127335285", oauth_signature="BZwfnObBzdciJMGElsAQPKJJUN8%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1338374858", oauth_token="ACCESS_TOKEN", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json
    body: 
      encoding: ASCII-8BIT
      string: "{\"photos\":{\"photo\":[{\"id\":\"7093101501\", \"secret\":\"9337f28800\", \"server\":\"7090\", \"farm\":8, \"owner\":\"67131352@N04\", \"username\":\"Janko Marohni\\u0107\", \"title\":\"IMG_0917\", \"ispublic\":1, \"isfriend\":0, \"isfamily\":0, \"media\":\"photo\", \"media_status\":\"ready\"}], \"total\":2, \"page\":1, \"per_page\":10, \"pages\":1}, \"stat\":\"ok\"}"
  recorded_at: Wed, 30 May 2012 10:47:39 GMT
recorded_with: VCR 2.1.1
