--- 
http_interactions: 
- request: 
    method: get
    uri: http://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=API_KEY&method=flickr.photos.getRecent&extras=media
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="API_KEY", oauth_nonce="3717737c6bc62c66e7c07b2d5a9f57fa", oauth_signature="LG%2FwdMZldfegAW7NslbVLhB6wlU%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1338485761", oauth_token="ACCESS_TOKEN", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json
    body: 
      encoding: ASCII-8BIT
      string: "{\"photos\":{\"page\":1, \"pages\":10, \"perpage\":100, \"total\":1000, \"photo\":[{\"id\":\"7309334238\", \"owner\":\"76228041@N07\", \"secret\":\"21af12db0c\", \"server\":\"7101\", \"farm\":8, \"title\":\"IMG_4186\", \"ispublic\":1, \"isfriend\":0, \"isfamily\":0, \"media\":\"photo\", \"media_status\":\"ready\"}, {\"id\":\"7309334276\", \"owner\":\"47353407@N03\", \"secret\":\"0eeda8103f\", \"server\":\"7103\", \"farm\":8, \"title\":\"VIRTUS (388)\", \"ispublic\":1, \"isfriend\":0, \"isfamily\":0, \"media\":\"photo\", \"media_status\":\"ready\"}, {\"id\":\"7309334300\", \"owner\":\"67406311@N02\", \"secret\":\"bce21e2554\", \"server\":\"7228\", \"farm\":8, \"title\":\"DSCF1188\", \"ispublic\":1, \"isfriend\":0, \"isfamily\":0, \"media\":\"photo\", \"media_status\":\"ready\"}, {\"id\":\"730933[...]
[...]
