--- 
http_interactions: 
- request: 
    method: get
    uri: http://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=API_KEY&method=flickr.photos.getCounts&taken_dates=2009-05-19+00%3A00%3A00+UTC%2C2012-05-19+00%3A00%3A00+UTC
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="API_KEY", oauth_nonce="77f4dcea05b4494789753a870199581a", oauth_signature="yXTllI0KaDblkwUJp2ARG28F0n0%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1338374973", oauth_token="ACCESS_TOKEN", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json
    body: 
      encoding: ASCII-8BIT
      string: "{\"photocounts\":{\"photocount\":[{\"count\":\"98\", \"fromdate\":\"2009-05-19 00:00:00\", \"todate\":\"2012-05-19 00:00:00\"}]}, \"stat\":\"ok\"}"
  recorded_at: Wed, 30 May 2012 10:49:33 GMT
[...]
- request: 
    method: get
    uri: http://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=API_KEY&method=flickr.photos.getCounts&taken_dates=2009-05-19+00%3A00%3A00+UTC%2C2012-05-19+00%3A00%3A00+UTC
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="API_KEY", oauth_nonce="6c21451a9f2f7a970ac3bb6880eeb90b", oauth_signature="M2aj6lzwZ0tw24WZh4IXog9Neig%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1338374974", oauth_token="ACCESS_TOKEN", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json
    body: 
      encoding: ASCII-8BIT
      string: "{\"photocounts\":{\"photocount\":[{\"count\":\"98\", \"fromdate\":\"2009-05-19 00:00:00\", \"todate\":\"2012-05-19 00:00:00\"}]}, \"stat\":\"ok\"}"
  recorded_at: Wed, 30 May 2012 10:49:34 GMT
recorded_with: VCR 2.1.1
