--- 
http_interactions: 
- request: 
    method: get
    uri: http://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=API_KEY&method=flickr.photos.getNotInSet&extras=media
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="API_KEY", oauth_nonce="343b2b79c564a3f7c578bccf9aad0704", oauth_signature="mrUbO6Cha%2FuEZP2gsfF%2F288u6eg%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1338374981", oauth_token="ACCESS_TOKEN", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json
    body: 
      encoding: ASCII-8BIT
      string: "{\"photos\":{\"page\":1, \"pages\":0, \"perpage\":100, \"total\":\"0\", \"photo\":[]}, \"stat\":\"ok\"}"
  recorded_at: Wed, 30 May 2012 10:49:41 GMT
- request: 
    method: get
    uri: http://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=API_KEY&method=flickr.photos.getNotInSet&media=photos&extras=media
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="API_KEY", oauth_nonce="06dd5a621d381919d4b576b4336b75db", oauth_signature="HVvRLLiYeEHzJ3wpyG0%2FtFdUsPw%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1338374981", oauth_token="ACCESS_TOKEN", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json
    body: 
      encoding: ASCII-8BIT
      string: "{\"photos\":{\"page\":1, \"pages\":0, \"perpage\":100, \"total\":\"0\", \"photo\":[]}, \"stat\":\"ok\"}"
  recorded_at: Wed, 30 May 2012 10:49:42 GMT
- request: 
    method: get
    uri: http://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=API_KEY&method=flickr.photos.getNotInSet&media=videos&extras=media
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="API_KEY", oauth_nonce="43ec85480b583f34d574c3391edff5ef", oauth_signature="tSXpQeFhuPIU46o%2BDYauyGChV7c%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1338374982", oauth_token="ACCESS_TOKEN", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json
    body: 
      encoding: ASCII-8BIT
      string: "{\"photos\":{\"page\":1, \"pages\":0, \"perpage\":100, \"total\":\"0\", \"photo\":[]}, \"stat\":\"ok\"}"
  recorded_at: Wed, 30 May 2012 10:49:42 GMT
recorded_with: VCR 2.1.1
