--- 
http_interactions: 
- request: 
    method: get
    uri: http://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=API_KEY&method=flickr.people.getPhotosOf&user_id=67131352%40N04&extras=media
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="API_KEY", oauth_nonce="4fd1d7aa619babc60d38696cefcd9bbb", oauth_signature="zTaCvMn7KZ11ZLz0hczw4D86MA0%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1338483779", oauth_token="ACCESS_TOKEN", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json
    body: 
      encoding: ASCII-8BIT
      string: "{\"photos\":{\"page\":1, \"pages\":1, \"perpage\":20, \"total\":\"1\", \"photo\":[{\"id\":\"7093058053\", \"owner\":\"67131352@N04\", \"secret\":\"0aea023b71\", \"server\":\"7220\", \"farm\":8, \"title\":\"IMG_0853\", \"ispublic\":1, \"isfriend\":0, \"isfamily\":0, \"media\":\"photo\", \"media_status\":\"ready\"}]}, \"stat\":\"ok\"}"
  recorded_at: Thu, 31 May 2012 17:03:01 GMT
[...]
- request: 
    method: get
    uri: http://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=API_KEY&method=flickr.people.getPhotosOf&user_id=67131352%40N04&extras=media
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="API_KEY", oauth_nonce="a7840390cb541a1cec7da78a3ac9f562", oauth_signature="xPZ9ESVExGVcSd5HJv6FYtKhfLw%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1338483781", oauth_token="ACCESS_TOKEN", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json
    body: 
      encoding: ASCII-8BIT
      string: "{\"photos\":{\"page\":1, \"pages\":1, \"perpage\":20, \"total\":\"1\", \"photo\":[{\"id\":\"7093058053\", \"owner\":\"67131352@N04\", \"secret\":\"0aea023b71\", \"server\":\"7220\", \"farm\":8, \"title\":\"IMG_0853\", \"ispublic\":1, \"isfriend\":0, \"isfamily\":0, \"media\":\"photo\", \"media_status\":\"ready\"}]}, \"stat\":\"ok\"}"
  recorded_at: Thu, 31 May 2012 17:03:02 GMT
recorded_with: VCR 2.1.1
