--- 
http_interactions: 
- request: 
    method: post
    uri: http://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=API_KEY&method=flickr.photos.setPerms&photo_id=6946979188&is_public=1&is_friend=0&is_family=0&perm_comment=3&perm_addmeta=2
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="API_KEY", oauth_nonce="5a010b6bc4526bf62f3add0b94de7dd4", oauth_signature="%2FuTsu%2FIPvJlg7wvne8ICHqqq7gg%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1338491872", oauth_token="ACCESS_TOKEN", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"photoid\":{\"_content\":\"6946979188\", \"secret\":\"25bb44852b\", \"originalsecret\":\"\"}, \"stat\":\"ok\"}"
  recorded_at: Thu, 31 May 2012 19:17:53 GMT
[...]
- request: 
    method: post
    uri: http://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=API_KEY&method=flickr.photos.setPerms&photo_id=6946979188&is_public=1&is_friend=0&is_family=0&perm_comment=3&perm_addmeta=2
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="API_KEY", oauth_nonce="d207301fd83d1e437a9d369ec8da359b", oauth_signature="UreC6cYKLwvk6ej2Nyne0W3ZxT8%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1338491874", oauth_token="ACCESS_TOKEN", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"photoid\":{\"_content\":\"6946979188\", \"secret\":\"25bb44852b\", \"originalsecret\":\"\"}, \"stat\":\"ok\"}"
  recorded_at: Thu, 31 May 2012 19:17:54 GMT
recorded_with: VCR 2.1.1
