--- 
http_interactions: 
- request: 
    method: get
    uri: http://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=API_KEY&method=flickr.photos.getSizes&photo_id=7093038981
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="API_KEY", oauth_nonce="29ef69864bc8c872b8aa2ea0260c34eb", oauth_signature="E9c8VFnPrHoFqbsj2opoTzt1LS4%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1337013937", oauth_token="", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json
    body: 
      encoding: ASCII-8BIT
      string: "{\"sizes\":{\"canblog\":0, \"canprint\":0, \"candownload\":1, \"size\":[{\"label\":\"Square\", \"width\":75, \"height\":75, \"source\":\"http:\\/\\/farm6.staticflickr.com\\/5457\\/7093038981_9a616b9f6e_s.jpg\", \"url\":\"http:\\/\\/www.flickr.com\\/photos\\/67131352@N04\\/7093038981\\/sizes\\/sq\\/\", \"media\":\"photo\"}, {\"label\":\"Large Square\", \"width\":\"150\", \"height\":\"150\", \"source\":\"http:\\/\\/farm6.staticflickr.com\\/5457\\/7093038981_9a616b9f6e_q.jpg\", \"url\":\"http:\\/\\/www.flickr.com\\/photos\\/67131352@N04\\/7093038981\\/sizes\\/q\\/\", \"media\":\"photo\"}, {\"label\":\"Thumbnail\", \"width\":\"100\", \"height\":\"82\", \"source\":\"http:\\/\\/farm6.staticflickr.com\\/5457\\/7093038981_9a616b9f6e_t.jpg\", \"url\":\"http:\\/\\/www.flickr.com\\/photos\\/67131352@N04\\/7093038[...]
[...]
