--- 
http_interactions: 
- request: 
    method: get
    uri: http://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=API_KEY&method=flickr.photos.licenses.getInfo
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="API_KEY", oauth_nonce="ed208fd8cfa75a6c5a11b0dcb5318420", oauth_signature="H8uKnlQGR1ffYd7CTLtDIAW%2BjLY%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1337626773", oauth_token="ACCESS_TOKEN", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json
    body: 
      encoding: ASCII-8BIT
      string: "{\"licenses\":{\"license\":[{\"id\":\"0\", \"name\":\"All Rights Reserved\", \"url\":\"\"}, {\"id\":\"4\", \"name\":\"Attribution License\", \"url\":\"http:\\/\\/creativecommons.org\\/licenses\\/by\\/2.0\\/\"}, {\"id\":\"6\", \"name\":\"Attribution-NoDerivs License\", \"url\":\"http:\\/\\/creativecommons.org\\/licenses\\/by-nd\\/2.0\\/\"}, {\"id\":\"3\", \"name\":\"Attribution-NonCommercial-NoDerivs License\", \"url\":\"http:\\/\\/creativecommons.org\\/licenses\\/by-nc-nd\\/2.0\\/\"}, {\"id\":\"2\", \"name\":\"Attribution-NonCommercial License\", \"url\":\"http:\\/\\/creativecommons.org\\/licenses\\/by-nc\\/2.0\\/\"}, {\"id\":\"1\", \"name\":\"Attribution-NonCommercial-ShareAlike License\", \"url\":\"http:\\/\\/creativecommons.org\\/licenses\\/by-nc-sa\\/2.0\\/\"}, {\"id\":\"5\", \"name\":\"Attribution-ShareAlike License\", \"url\":\"http:\\/\\/creativecommons.org\\/licenses\\/by-sa\\/2.0\\/\"}, {\"id\":\"7\", \"name\":\"No known copyright restrictions\", \"url\":\"http:\\/\\/www.flickr.com\\/commons\\/usage\\/\"}, {\"id\":\"8\", \"name\":\"United States Government Work\", \"url\":\"http:\\/\\/www.usa.gov\\/copyright.shtml\"}]}, \"stat\":\"ok\"}"
  recorded_at: Mon, 21 May 2012 18:59:34 GMT
recorded_with: VCR 2.1.1
