--- 
http_interactions: 
- request: 
    method: post
    uri: http://api.flickr.com/services/upload
    body: 
      encoding: ASCII-8BIT
      string: "#<Faraday::CompositeReadIO:0x007fcb6d209be0>"
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="", oauth_nonce="65b9c8a6fad35aea86604f3e498c3276", oauth_signature="hUbbmLbQ82MjUs05sNKULELtZO4%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1337351454", oauth_token="", oauth_version="1.0"
      Content-Type: 
      - multipart/form-data;boundary=-----------RubyMultipartPost
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - text/xml; charset=utf-8
    body: 
      encoding: US-ASCII
      string: |
        <?xml version="1.0" encoding="utf-8" ?>
        <rsp stat="fail">
        	<err code="100" msg="Invalid API Key (Key has invalid format)" />
        </rsp>

  recorded_at: Fri, 18 May 2012 14:30:55 GMT
- request: 
    method: post
    uri: http://api.flickr.com/services/upload
    body: 
      encoding: ASCII-8BIT
      string: "#<Faraday::CompositeReadIO:0x007fcb6b700308>"
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="API_KEY", oauth_nonce="b36217a330efe6f866f82a60f0808a65", oauth_signature="39BGSwZjuG12JixjOFMIBG6igqQ%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1337351455", oauth_token="", oauth_version="1.0"
      Content-Type: 
      - multipart/form-data;boundary=-----------RubyMultipartPost
  response: 
    status: 
      code: 401
      message: 
    headers: 
      content-type: 
      - text/plain;charset=UTF-8
    body: 
      encoding: US-ASCII
      string: oauth_problem=token_rejected
  recorded_at: Fri, 18 May 2012 14:30:56 GMT
- request: 
    method: post
    uri: http://api.flickr.com/services/upload
    body: 
      encoding: ASCII-8BIT
      string: "#<Faraday::CompositeReadIO:0x007fcb6b629628>"
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="API_KEY", oauth_nonce="c2e5f37d56dfe08490f25131918ca911", oauth_signature="2CAvr%2Fhbr1srNgTzN2ZXXulVFBE%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1337351456", oauth_token="", oauth_version="1.0"
      Content-Type: 
      - multipart/form-data;boundary=-----------RubyMultipartPost
  response: 
    status: 
      code: 401
      message: 
    headers: 
      content-type: 
      - text/plain;charset=UTF-8
    body: 
      encoding: US-ASCII
      string: oauth_problem=token_rejected
  recorded_at: Fri, 18 May 2012 14:30:57 GMT
- request: 
    method: post
    uri: http://api.flickr.com/services/upload
    body: 
      encoding: ASCII-8BIT
      string: "#<Faraday::CompositeReadIO:0x007fcb6d213820>"
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="API_KEY", oauth_nonce="4ae93044b205da93328d997e1870ebcd", oauth_signature="VAhLAD1CTA3KKYJL8A8BpZFw3fs%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1337351457", oauth_token="ACCESS_TOKEN", oauth_version="1.0"
      Content-Type: 
      - multipart/form-data;boundary=-----------RubyMultipartPost
  response: 
    status: 
      code: 401
      message: 
    headers: 
      content-type: 
      - text/plain;charset=UTF-8
    body: 
      encoding: US-ASCII
      string: oauth_problem=signature_invalid&debug_sbs=POST&http%3A%2F%2Fapi.flickr.com%2Fservices%2Fupload&oauth_consumer_key%3DAPI_KEY%26oauth_nonce%3D4ae93044b205da93328d997e1870ebcd%26oauth_signature_method%3DHMAC-SHA1%26oauth_timestamp%3D1337351457%26oauth_token%3DACCESS_TOKEN%26oauth_version%3D1.0%26title%3Dphoto
  recorded_at: Fri, 18 May 2012 14:30:58 GMT
- request: 
    method: post
    uri: http://api.flickr.com/services/upload
    body: 
      encoding: ASCII-8BIT
      string: "#<Faraday::CompositeReadIO:0x007fcb6b778538>"
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="API_KEY", oauth_nonce="a6b9f7b6bed22374bcb19aa0c91be5b3", oauth_signature="g0Blq1nBSeUBlr9lYOTSMf6l%2FGM%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1337351458", oauth_token="ACCESS_TOKEN", oauth_version="1.0"
      Content-Type: 
      - multipart/form-data;boundary=-----------RubyMultipartPost
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - text/xml; charset=utf-8
    body: 
      encoding: US-ASCII
      string: |
        <?xml version="1.0" encoding="utf-8" ?>
        <rsp stat="ok">
        <photoid>7221586210</photoid>
        </rsp>

  recorded_at: Fri, 18 May 2012 14:31:03 GMT
recorded_with: VCR 2.1.1
