--- 
http_interactions: 
- request: 
    method: get
    uri: http://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=API_KEY&method=flickr.photosets.getPhotos&photoset_id=72157629851991663&extras=media
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="API_KEY", oauth_nonce="1d2027b1188221193c7395baaaee4aa7", oauth_signature="1DT37csK%2FJzW9RIJsBtgnBJ59N4%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1337626742", oauth_token="ACCESS_TOKEN", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json
    body: 
      encoding: ASCII-8BIT
      string: "{\"photoset\":{\"id\":\"72157629851991663\", \"primary\":\"6946979188\", \"owner\":\"67131352@N04\", \"ownername\":\"Janko Marohni\\u0107\", \"photo\":[{\"id\":\"6946979188\", \"secret\":\"25bb44852b\", \"server\":\"7049\", \"farm\":8, \"title\":\"IMG_0796\", \"isprimary\":\"1\", \"media\":\"photo\", \"media_status\":\"ready\"}, {\"id\":\"6946978706\", \"secret\":\"b38270bbd6\", \"server\":\"7216\", \"farm\":8, \"title\":\"IMG_0795\", \"isprimary\":\"0\", \"media\":\"photo\", \"media_status\":\"ready\"}, {\"id\":\"7093049187\", \"secret\":\"90f36603c4\", \"server\":\"5112\", \"farm\":6, \"title\":\"IMG_0794\", \"isprimary\":\"0\", \"media\":\"photo\", \"media_status\":\"ready\"}, {\"id\":\"6946977782\", \"secret\":\"05dfb214aa\", \"server\":\"7114\", \"farm\":8, \"title\":\"IMG_0793\", \"isprimary\":\"0\", \[...]
- request: 
    method: get
    uri: http://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=API_KEY&method=flickr.photosets.getPhotos&photoset_id=72157629851991663&media=photos&extras=media
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="API_KEY", oauth_nonce="433a70962a1749f75ef8e45ed4edcfd0", oauth_signature="hMzlvxWJde7LEBpkIiB0Fjqrdlc%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="13376267[...]
- request: 
    method: get
    uri: http://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=API_KEY&method=flickr.photosets.getPhotos&photoset_id=72157629851991663&media=videos&extras=media
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="API_KEY", oauth_nonce="448677e78f3cf563c3b54d8c63ab01cc", oauth_signature="MYtVPdrPtfCD23wrUIvQfGAE7HE%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1337626746", oauth_token="ACCESS_TOKEN", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json
    body: 
      encoding: ASCII-8BIT
      string: "{\"photoset\":{\"id\":\"72157629851991663\", \"primary\":\"6946979188\", \"owner\":\"67131352@N04\", \"ownername\":\"Janko Marohni\\u0107\", \"photo\":[{\"id\":\"7093038981\", \"secret\":\"9a616b9f6e\", \"server\":\"5457\", \"farm\":6, \"title\":\"5 meter backflip\", \"isprimary\":\"0\", \"media\":\"video\", \"media_status\":\"ready\"}], \"page\":1, \"per_page\":500, \"perpage\":500, \"pages\":1, \"total\":\"1\"}, \"stat\":\"ok\"}"
  recorded_at: Mon, 21 May 2012 18:59:09 GMT
recorded_with: VCR 2.1.1
