--- 
http_interactions: 
- request: 
    method: get
    uri: http://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=API_KEY&method=flickr.photos.getCounts&taken_dates=2012-03-01+00%3A00%3A00+UTC%2C2012-05-05+00%3A00%3A00+UTC
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="API_KEY", oauth_nonce="d38bc757b83c140328eb688200e2902c", oauth_signature="ARgIKQHJytmJXuOBWFJtm%2Fz35Z4%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1337013908", oauth_token="ACCESS_TOKEN", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json
    body: 
      encoding: ASCII-8BIT
      string: "{\"photocounts\":{\"photocount\":[{\"count\":\"1\", \"fromdate\":\"2012-03-01 00:00:00\", \"todate\":\"2012-05-05 00:00:00\"}]}, \"stat\":\"ok\"}"
  recorded_at: Mon, 14 May 2012 16:45:09 GMT
- request: 
    method: get
    uri: http://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=API_KEY&method=flickr.photos.getCounts&dates=1330560000%2C1336176000
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="API_KEY", oauth_nonce="db6e2ccd3ddfc1d3f98db0fd16b4612a", oauth_signature="bd%2B6BHR%2BBZt1T7xbX2Xfvj9OlSI%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1337013909", oauth_token="ACCESS_TOKEN", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json
    body: 
      encoding: ASCII-8BIT
      string: "{\"photocounts\":{\"photocount\":[{\"count\":\"98\", \"fromdate\":\"1330560000\", \"todate\":\"1336176000\"}]}, \"stat\":\"ok\"}"
  recorded_at: Mon, 14 May 2012 16:45:09 GMT
recorded_with: VCR 2.1.1
