--- 
http_interactions: 
- request: 
    method: get
    uri: http://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=API_KEY&method=flickr.photos.getCounts&taken_dates=2012-03-01%2000%3A00%3A00%20UTC%2C2012-05-05%2000%3A00%3A00%20UTC
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="API_KEY", oauth_nonce="fafa14f2a9454089a177be7cac15c252", oauth_signature="nstmD9wxZJtrLi%2BH%2B0m0yij8M8Y%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1337098035", oauth_token="ACCESS_TOKEN", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json
    body: 
      encoding: ASCII-8BIT
      string: "{\"photocounts\":{\"photocount\":[{\"count\":\"1\", \"fromdate\":\"2012-03-01 00:00:00\", \"todate\":\"2012-05-05 00:00:00\"}]}, \"stat\":\"ok\"}"
  recorded_at: Tue, 15 May 2012 16:07:15 GMT
- request: 
    method: get
    uri: http://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=API_KEY&method=flickr.photos.getCounts&dates=1330560000%2C1336176000
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="API_KEY", oauth_nonce="07337898474bc1af47d91bab4d8b2ce3", oauth_signature="2g7upcSg3pxihFQYizGx8Xx7jAs%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1337098035", oauth_token="ACCESS_TOKEN", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json
    body: 
      encoding: ASCII-8BIT
      string: "{\"photocounts\":{\"photocount\":[{\"count\":\"98\", \"fromdate\":\"1330560000\", \"todate\":\"1336176000\"}]}, \"stat\":\"ok\"}"
  recorded_at: Tue, 15 May 2012 16:07:16 GMT
recorded_with: VCR 2.1.1
