--- 
http_interactions: 
- request: 
    method: get
    uri: http://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=API_KEY&method=flickr.people.findByUsername&username=Janko+Marohni%C4%87
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="API_KEY", oauth_nonce="e2740a96b65f0fdad127f3225bccfa6e", oauth_signature="0tisE5mod99XyRHL9ES1fvB5rko%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1338376647", oauth_token="ACCESS_TOKEN", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json
    body: 
      encoding: ASCII-8BIT
      string: "{\"user\":{\"id\":\"67131352@N04\", \"nsid\":\"67131352@N04\", \"username\":{\"_content\":\"Janko Marohni\\u0107\"}}, \"stat\":\"ok\"}"
  recorded_at: Wed, 30 May 2012 11:17:27 GMT
- request: 
    method: get
    uri: http://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=API_KEY&method=flickr.people.findByEmail&find_email=janko.marohnic%40gmail.com
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="API_KEY", oauth_nonce="1b385b4365d4278f05b601b79f20cc3b", oauth_signature="oepw5Up%2Bj%2F2UIytE7ac6K4d7pFE%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1338376647", oauth_token="ACCESS_TOKEN", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json
    body: 
      encoding: ASCII-8BIT
      string: "{\"user\":{\"id\":\"67131352@N04\", \"nsid\":\"67131352@N04\", \"username\":{\"_content\":\"Janko Marohni\\u0107\"}}, \"stat\":\"ok\"}"
  recorded_at: Wed, 30 May 2012 11:17:28 GMT
recorded_with: VCR 2.1.1
