--- 
http_interactions: 
- request: 
    method: post
    uri: http://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=API_KEY&method=flickr.photosets.create&title=Bla&primary_photo_id=6946979188
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="API_KEY", oauth_nonce="2d316b1ad092f067c8420ebda0f5aefe", oauth_signature="R%2BRttLBklZ87Z6qgVOyuWxgvWog%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1342789689", oauth_token="ACCESS_TOKEN", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"photoset\":{\"id\":\"72157630665647968\", \"url\":\"http:\\/\\/www.flickr.com\\/photos\\/67131352@N04\\/sets\\/72157630665647968\\/\"}, \"stat\":\"ok\"}"
  recorded_at: Fri, 20 Jul 2012 13:08:10 GMT
recorded_with: VCR 2.2.2
