--- 
http_interactions: 
- request: 
    method: get
    uri: http://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=API_KEY&method=flickr.photos.getInfo&photo_id=6946979188
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="API_KEY", oauth_nonce="d69ff48265c0d477a980fda6ce22dec1", oauth_signature="%2Bm%2FcCFYDXgpqlWB4oIX3lmcXoiU%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1338379063", oauth_token="ACCESS_TOKEN", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json
    body: 
      encoding: ASCII-8BIT
      string: "{\"photo\":{\"id\":\"6946979188\", \"secret\":\"25bb44852b\", \"server\":\"7049\", \"farm\":8, \"dateuploaded\":\"1334832745\", \"isfavorite\":0, \"license\":\"0\", \"safety_level\":\"0\", \"rotation\":90, \"owner\":{\"nsid\":\"67131352@N04\", \"username\":\"Janko Marohni\\u0107\", \"realname\":\"Janko Marohni\\u0107\", \"location\":\"Zagreb, Croatia\", \"iconserver\":\"5464\", \"iconfarm\":6}, \"title\":{\"_content\":\"IMG_0796\"}, \"description\":{\"_content\":\"Test\"}, \"visibility\":{\"ispublic\":1, \"isfriend\":0, \"isfamily\":0}, \"dates\":{\"posted\":\"1334832745\", \"taken\":\"2011-03-20 17:00:05\", \"takengranularity\":\"0\", \"lastupdate\":\"1338374853\"}, \"permissions\":{\"permcomment\":3, \"permaddmeta\":2}, \"views\":\"5\", \"editability\":{\"cancomment\":1, \"canaddmeta\":1}, \"publiceditability\":{\"cancomment\":1, \"canaddmeta\":0}, \"usage\":{\"candownload\":1, \"canblog\":1, \"canprint\":1, \"canshare\":0}, \"comments\":{\"_content\":\"1\"}, \"notes\":{\"note\":[{\"id\":\"72157629487842968\", \"author\":\"67131352@N04\", \"authorname\":\"Janko Marohni\\u0107\", \"x\":\"316\", \"y\":\"0\", \"w\":\"59\", \"h\":\"50\", \"_content\":\"Test\"}]}, \"people\":{\"haspeople\":0}, \"tags\":{\"tag\":[{\"id\":\"67099213-6946979188-89662\", \"author\":\"67131352@N04\", \"raw\":\"luka\", \"_content\":\"luka\", \"machine_tag\":0}]}, \"location\":{\"latitude\":45.807258, \"longitude\":15.967599, \"accuracy\":\"11\", \"context\":\"0\", \"locality\":{\"_content\":\"Zagreb\", \"place_id\":\"00j4IylZV7scWik\", \"woeid\":\"851128\"}, \"county\":{\"_content\":\"Zagreb\", \"place_id\":\"306dHrhQV7o6jm.ZUQ\", \"woeid\":\"15022257\"}, \"region\":{\"_content\":\"Grad Zagreb\", \"place_id\":\"Js1DU.pTUrpBCIKhVw\", \"woeid\":\"20070170\"}, \"country\":{\"_content\":\"Croatia\", \"place_id\":\"FunRCI5TUb6a6soTyw\", \"woeid\":\"23424843\"}, \"place_id\":\"00j4IylZV7scWik\", \"woeid\":\"851128\"}, \"geoperms\":{\"ispublic\":1, \"iscontact\":0, \"isfriend\":0, \"isfamily\":0}, \"urls\":{\"url\":[{\"type\":\"photopage\", \"_content\":\"http:\\/\\/www.flickr.com\\/photos\\/67131352@N04\\/6946979188\\/\"}]}, \"media\":\"photo\"}, \"stat\":\"ok\"}"
  recorded_at: Wed, 30 May 2012 11:57:44 GMT
[...]
- request: 
    method: get
    uri: http://flic.kr/p/bzT5Tf
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 302
      message: 
    headers: 
      location: 
      - http://www.flickr.com/photo.gne?short=bzT5Tf
      content-type: 
      - text/html
    body: 
      encoding: ASCII-8BIT
      string: |
        <!doctype html public "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
        <html><head><title>Yahoo! - 302 Found</title><style>
        /* nn4 hide */ 
        /*/*/
        body {font:small/1.2em arial,helvetica,clean,sans-serif;font:x-small;text-align:center;}table {font-size:inherit;font:x-small;}
        html>body {font:83%/1.2em arial,helvetica,clean,sans-serif;}input {font-size:100%;vertical-align:middle;}p, form {margin:0;padding:0;}
        p {padding-bottom:6px;margin-bottom:10px;}#doc {width:48.5em;margin:0 auto;border:1px solid #fff;text-align:center;}#ygma {text-align:right;margin-bottom:53px}
        #ygma img {float:left;}#ygma div {border-bottom:1px solid #ccc;padding-bottom:8px;margin-left:152px;}#bd {clear:both;text-align:left;width:75%;margin:0 auto 20px;}
        h1 {font-size:135%;text-align:center;margin:0 0 15px;}legend {display:none;}fieldset {border:0 solid #fff;padding:.8em 0 .8em 4.5em;}
        form {position:relative;background:#eee;margin-bottom:15px;border:1px solid #ccc;border-width:1px 0;}
        #s1p {width:15em;margin-right:.1em;}
        form span {position:absolute;left:70%;top:.8em;}form a {font:78%/1.2em arial;display:block;padding-left:.8em;white-space:nowrap;background: url(http://l.yimg.com/a/i/s/bullet.gif) no-repeat left center;} 
        form .sep {display:none;}.more {text-align:center;}#ft {padding-top:10px;border-top:1px solid #999;}#ft p {text-align:center;font:78% arial;}
        /* end nn4 hide */
        </style></head>
        <body><div id="doc">
        <div id="ygma"><a href="http://us.rd.yahoo.com/302/*http://www.yahoo.com"><img src=http://l.yimg.com/a/i/yahoo.gif width=147 height=31 border=0 alt="Yahoo!"></a><div><a href="http://us.rd.yahoo.com/302/*http://www.yahoo.com">Yahoo!</a> - <a href="http://us.rd.yahoo.com/302/*http://help.yahoo.com">Help</a></div></div><div id="bd"><p>The document has moved <a href="http://www.flickr.com/photo.gne?short=bzT5Tf">here</a>.</p>
        <p>Please check the URL for proper spelling and capitalization. If
        you're having trouble locating a destination on Yahoo!, try visiting the
        <strong><a
        href="http://us.rd.yahoo.com/302/*http://www.yahoo.com">Yahoo! home
        page</a></strong> or look through a list of <strong><a
        href="http://us.rd.yahoo.com/302/*http://docs.yahoo.com/docs/family/more/">Yahoo!'s
        online services</a></strong>. Also, you may find what you're looking for
        if you try searching below.</p>
        <form name="s1" action="http://us.rd.yahoo.com/302/*-http://search.yahoo.com/search"><fieldset>
        <legend><label for="s1p">Search the Web</label></legend>
        <input type="text" size=30 name="p" id="s1p" title="enter search terms here">
        <input type="submit" value="Search">
        <span><a href="http://us.rd.yahoo.com/302/*http://search.yahoo.com/search/options?p=">advanced search</a> <span class=sep>|</span> <a href="http://us.rd.yahoo.com/302/*http://buzz.yahoo.com">most popular</a></span>
        </fieldset></form>
        <p class="more">Please try <strong><a href="http://us.rd.yahoo.com/302/*http://help.yahoo.com">Yahoo! Help Central</a></strong> if you need more assistance.</p>
        </div><div id="ft"><p>Copyright &copy; 2012 Yahoo! Inc. All rights reserved. <a href="http://us.rd.yahoo.com/302/*http://privacy.yahoo.com">Privacy Policy</a> - <a href="http://us.rd.yahoo.com/302/*http://docs.yahoo.com/info/terms/">Terms of Service</a></p></div>
        </div></body></html>

  recorded_at: Wed, 30 May 2012 11:57:45 GMT
- request: 
    method: get
    uri: http://www.flickr.com/photo.gne?short=bzT5Tf
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 302
      message: 
    headers: 
      location: 
      - /photos/67131352@N04/6946979188/
      content-type: 
      - text/html; charset=UTF-8
    body: 
      encoding: ASCII-8BIT
      string: ""
  recorded_at: Wed, 30 May 2012 11:57:46 GMT
- request: 
    method: get
    uri: http://www.flickr.com/photos/67131352@N04/6946979188/
    body: 
      encoding: US-ASCII
      string: ""
    headers: {}

  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - text/html; charset=utf-8
    body: 
      encoding: ASCII-8BIT
      string: "<!DOCTYPE html>\n\
        <html xmlns:dc=\"http://purl.org/dc/terms/\" xmlns:foaf=\"http://xmlns.com/foaf/0.1/\" xmlns:cc=\"http://creativecommons.org/ns#\" lang=\"en-us\">\n\
        <head>\n\n\
        \t<title>IMG_0796 | Flickr - Photo Sharing!</title>\n\n\
        \t<script data-script-purpose=\"page_timing\">\n\
        \t var farm_timing = {}; farm_timing.page_start = new Date().getTime();\n\
        \t</script>\n\
        \t<meta http-equiv=\"Content-Type\" content=\"text/html; charset=UTF-8\">\n\
        \t<meta name=\"keywords\" content=\"luka\">\t<meta name=\"description\" content=\"Test\">\n\
        \t<meta http-equiv=\"imagetoolbar\" content=\"no\">\n\
        \t<link href=\"/apple-touch-icon.png\" rel=\"apple-touch-icon-precomposed\">\n\
        \t<meta name=\"title\" content=\"IMG_0796\">\n\n\
        \t<meta http-equiv=\"X-UA-Compatible\" content=\"IE=9\"> \n\n\
        \t\t<meta name=\"medium\" content=\"image\">\n\
        \t<link rel=\"image_src\" href=\"http://farm8.staticflickr.com/7049/6946979188_25bb44852b_m.jpg\" id=\"image-src\">\n\
        \t\t\t<link id=\"canonicalurl\" rel=\"canonical\" href=\"http://www.flickr.com/photos/67131352@N04/694697918[...]
[...]
