--- 
http_interactions: 
- request: 
    method: get
    uri: http://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=API_KEY&method=flickr.photos.getContext&photo_id=6946979188
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="API_KEY", oauth_nonce="ccc3f738fefd326c4349d0e7f68764b9", oauth_signature="7XXzebqW3bSVWHuPsLyXSmZgRQ0%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1337292028", oauth_token="", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json
    body: 
      encoding: ASCII-8BIT
      string: "{\"count\":{\"_content\":98}, \"prevphoto\":{\"id\":\"6946978706\", \"secret\":\"b38270bbd6\", \"server\":\"7216\", \"farm\":8, \"title\":\"IMG_0795\", \"url\":\"\\/photos\\/67131352@N04\\/6946978706\\/in\\/photostream\\/\", \"thumb\":\"http:\\/\\/farm8.staticflickr.com\\/7216\\/6946978706_b38270bbd6_s.jpg\", \"media\":\"photo\", \"license\":\"0\"}, \"nextphoto\":{\"id\":\"6946979704\", \"secret\":\"74513ff732\", \"server\":\"7234\", \"farm\":8, \"title\":\"IMG_0797\", \"url\":\"\\/photos\\/67131352@N04\\/6946979704\\/in\\/photostream\\/\", \"thumb\":\"http:\\/\\/farm8.staticflickr.com\\/7234\\/6946979704_74513ff732_s.jpg\", \"media\":\"photo\", \"license\":\"0\"}, \"stat\":\"ok\"}"
  recorded_at: Thu, 17 May 2012 22:00:29 GMT
recorded_with: VCR 2.1.1
