--- 
http_interactions: 
- request: 
    method: get
    uri: http://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=API_KEY&method=flickr.photos.getContext&photo_id=6946979188
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="API_KEY", oauth_nonce="ba7c6104c0fbfcc972418713559498e6", oauth_signature="Vj1o9kX69VEZZyXu8X1blxPn02Q%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1337013921", oauth_token="", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json
    body: 
      encoding: ASCII-8BIT
      string: "{\"count\":{\"_content\":98}, \"prevphoto\":{\"id\":\"6946978706\", \"secret\":\"b38270bbd6\", \"server\":\"7216\", \"farm\":8, \"title\":\"IMG_0795\", \"url\":\"\\/photos\\/67131352@N04\\/6946978706\\/in\\/photostream\\/\", \"thumb\":\"http:\\/\\/farm8.staticflickr.com\\/7216\\/6946978706_b38270bbd6_s.jpg\", \"media\":\"photo\", \"license\":\"0\"}, \"nextphoto\":{\"id\":\"6946979704\", \"secret\":\"74513ff732\", \"server\":\"7234\", \"farm\":8, \"title\":\"IMG_0797\", \"url\":\"\\/photos\\/67131352@N04\\/6946979704\\/in\\/photostream\\/\", \"thumb\":\"http:\\/\\/farm8.staticflickr.com\\/7234\\/6946979704_74513ff732_s.jpg\", \"media\":\"photo\", \"license\":\"0\"}, \"stat\":\"ok\"}"
  recorded_at: Mon, 14 May 2012 16:45:21 GMT
recorded_with: VCR 2.1.1
