--- 
http_interactions: 
- request: 
    method: get
    uri: http://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=API_KEY&method=flickr.photos.getExif&photo_id=6946979188
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="API_KEY", oauth_nonce="24cd4199ce7cc2d95c7d9fd50795480f", oauth_signature="3jkBTWg3YZfczfXrNI0DHocMTZo%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1336940579", oauth_token="", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json
    body: 
      encoding: ASCII-8BIT
      string: "{\"photo\":{\"id\":\"6946979188\", \"secret\":\"25bb44852b\", \"server\":\"7049\", \"farm\":8, \"camera\":\"Canon PowerShot G12\", \"exif\":[{\"tagspace\":\"IFD0\", \"tagspaceid\":0, \"tag\":\"Make\", \"label\":\"Make\", \"raw\":{\"_content\":\"Canon\"}}, {\"tagspace\":\"IFD0\", \"tagspaceid\":0, \"tag\":\"Model\", \"label\":\"Model\", \"raw\":{\"_content\":\"Canon PowerShot G12\"}}, {\"tagspace\":\"IFD0\", \"tagspaceid\":0, \"tag\":\"Orientation\", \"label\":\"Orientation\", \"raw\":{\"_content\":\"Rotate 90 CW\"}}, {\"tagspace\":\"IFD0\", \"tagspaceid\":0, \"tag\":\"XResolution\", \"label\":\"X-Resolution\", \"raw\":{\"_content\":\"180\"}, \"clean\":{\"_content\":\"180 dpi\"}}, {\"tagspace\":\"IFD0\", \"tagspaceid\":0, \"tag\":\"YResolution\", \"label\":\"Y-Resolution\", \"raw\":{\"_content\":\"180\"}, \"clean\":{\"_content\":\"180 dpi\"}}, {\"tagspace\":\"IFD0\", \"tagspaceid\":0, \"tag\":\"ResolutionUnit\", \"label\":\"Resolution Unit\", \"raw\":{\"_content\":\"inches\"}}, {\"tagspace\":\"IFD0\", \"tagspaceid\":0, \"tag\":\"ModifyDate\", \"label\":\"Date and Time (Modified)\", \"raw\":{\"_content\":\"2011:03:20 17:00:05\"}}, {\"tagspace\"[...]
[...]
