--- 
http_interactions: 
- request: 
    method: get
    uri: http://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=API_KEY&method=flickr.photos.getInfo&photo_id=6946979188
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="API_KEY", oauth_nonce="f2ceb93145deba99b30a03fa59e20eb5", oauth_signature="MVa%2BNBcLtRBBp5OSVqF%2Bm8i3rNI%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1338376548", oauth_token="ACCESS_TOKEN", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json
    body: 
      encoding: ASCII-8BIT
      string: "{\"photo\":{\"id\":\"6946979188\", \"secret\":\"25bb44852b\", \"server\":\"7049\", \"farm\":8, \"dateuploaded\":\"1334832745\", \"isfavorite\":0, \"license\":\"0\", \"safety_level\":\"0\", \"rotation\":90, \"owner\":{\"nsid\":\"67131352@N04\", \"username\":\"Janko Marohni\\u0107\", \"realname\":\"Janko Marohni\\u0107\", \"location\":\"Zagreb, Croatia\", \"iconserver\":\"5464\", \"iconfarm\":6}, \"title\":{\"_content\":\"IMG_0796\"}, \"description\":{\"_content\":\"Test\"}, \"visibility\":{\"ispublic\":1, \"isfriend\":0, \"isfamily\":0}, \"dates\":{\"posted\":\"1334832745\", \"taken\":\"2011-03-20 17:00:05\", \"takengranularity\":\"0\", \"lastupdate\":\"1338374853\"}, \"permissions\":{\"permcomment\":3, \"permaddmeta\":2}, \"views\":\"5\", \"editability\":{\"cancomment\":1, \"canaddmeta\":1}, \"publiceditability\":{\"cancomment\":1, \"canaddmeta\":0}, \"usage\":{\"candownload\":1, \"canblog\":1, \"canprint\":1, \"canshare\":0}, \"comments\":{\"_content\":\"1\"}, \"notes\":{\"note\":[{\"id\":\"72157629487842968\", \"author\":\"67131352@N04\", \"authorname\":\"Janko Marohni\\u0107\", \"x\":\"316\", \"y\":\"0\", \"w\":\"59\", \"h\":\"50\", \"_content\":\"Test\"}]}, \"people\":{\"haspeople\":0}, \"tags\":{\"tag\":[{\"id\":\"67099213-6946979188-89662\", \"author\":\"67131352@N04\", \"raw\":\"luka\", \"_content\":\"luka\", \"machine_tag\":0}]}, \"location\":{\"latitude\":45.807258, \"longitude\":15.967599, \"accuracy\":\"11\", \"context\":\"0\", \"locality\":{\"_content\":\"Zagreb\", \"place_id\":\"00j4IylZV7scWik\", \"woeid\":\"851128\"}, \"county\":{\"_content\":\"Zagreb\", \"place_id\":\"306dHrhQV7o6jm.ZUQ\", \"woeid\":\"15022257\"}, \"region\":{\"_content\":\"Grad Zagreb\", \"place_id\":\"Js1DU.pTUrpBCIKhVw\", \"woeid\":\"20070170\"}, \"country\":{\"_content\":\"Croatia\", \"place_id\":\"FunRCI5TUb6a6soTyw\", \"woeid\":\"23424843\"}, \"place_id\":\"00j4IylZV7scWik\", \"woeid\":\"851128\"}, \"geoperms\":{\"ispublic\":1, \"iscontact\":0, \"isfriend\":0, \"isfamily\":0}, \"urls\":{\"url\":[{\"type\":\"photopage\", \"_content\":\"http:\\/\\/www.flickr.com\\/photos\\/67131352@N04\\/6946979188\\/\"}]}, \"media\":\"photo\"}, \"stat\":\"ok\"}"
  recorded_at: Wed, 30 May 2012 11:15:48 GMT
- request: 
    method: post
    uri: http://api.flickr.com/services/upload
    body: 
      encoding: ASCII-8BIT
      string: "#<Faraday::CompositeReadIO:0x007f95dcba9b80>"
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="API_KEY", oauth_nonce="4278699cfe0570192ff04ce46625a503", oauth_signature="Vmyn%2BRDKdE2OwEQkySPFxA6Kln8%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1338376548", oauth_token="ACCESS_TOKEN", oauth_version="1.0"
      Content-Type: 
      - multipart/form-data;boundary=-----------RubyMultipartPost
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - text/xml; charset=utf-8
    body: 
      encoding: US-ASCII
      string: |-
        <?xml version="1.0" encoding="utf-8" ?>
        <rsp stat="ok">
        <photoid>7301114466</photoid>
        </rsp>
  recorded_at: Wed, 30 May 2012 11:15:53 GMT
- request: 
    method: post
    uri: http://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=API_KEY&method=flickr.photos.delete&photo_id=7301114466
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="API_KEY", oauth_nonce="499692d30836f6a9c359d3728d84ea30", oauth_signature="MqRrrPJHWakZ1%2FBd0ZQLHMgfGD0%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1338376553", oauth_token="ACCESS_TOKEN", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"stat\":\"ok\"}"
  recorded_at: Wed, 30 May 2012 11:15:54 GMT
- request: 
    method: get
    uri: http://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=API_KEY&method=flickr.test.login
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="API_KEY", oauth_nonce="71b53f108ccdc1dd7efca7f369c4ed2a", oauth_signature="LKegojnE3FB%2FjOZB5rJC0DKX85o%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1338376581", oauth_token="ACCESS_TOKEN", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json
    body: 
      encoding: ASCII-8BIT
      string: "{\"user\":{\"id\":\"67131352@N04\", \"username\":{\"_content\":\"Janko Marohni\\u0107\"}}, \"stat\":\"ok\"}"
  recorded_at: Wed, 30 May 2012 11:16:21 GMT
recorded_with: VCR 2.1.1
