--- 
http_interactions: 
- request: 
    method: get
    uri: http://api.flickr.com/services/rest?format=json&nojsoncallback=1&api_key=API_KEY&method=flickr.people.getUploadStatus
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
      Authorization: 
      - OAuth oauth_consumer_key="API_KEY", oauth_nonce="a0bf718efcc959f5f07ff88cd05e6946", oauth_signature="lho064mBRcdkiY0sBJDGJ%2F5%2BQDo%3D", oauth_signature_method="HMAC-SHA1", oauth_timestamp="1338376654", oauth_token="ACCESS_TOKEN", oauth_version="1.0"
  response: 
    status: 
      code: 200
      message: 
    headers: 
      content-type: 
      - application/json
    body: 
      encoding: ASCII-8BIT
      string: "{\"user\":{\"id\":\"67131352@N04\", \"ispro\":0, \"username\":{\"_content\":\"Janko Marohni\\u0107\"}, \"bandwidth\":{\"max\":314572800, \"used\":25475391, \"maxbytes\":314572800, \"usedbytes\":\"25475391\", \"remainingbytes\":\"289097409\", \"maxkb\":307200, \"usedkb\":24878, \"remainingkb\":282322, \"unlimited\":0}, \"filesize\":{\"max\":31457280, \"maxbytes\":31457280, \"maxkb\":30720, \"maxmb\":30}, \"sets\":{\"created\":null, \"remaining\":\"lots\"}, \"videosize\":{\"maxbytes\":157286400, \"maxkb\":153600, \"maxmb\":150}, \"videos\":{\"uploaded\":0, \"remaining\":2}}, \"stat\":\"ok\"}"
  recorded_at: Wed, 30 May 2012 11:17:35 GMT
recorded_with: VCR 2.1.1
